.live-update-notice {
  margin: 20px 0 40px;
  display: none;

  &--js {
    display: block;
  }

  > div {
    color: #333;
    background-color: oColorsGetPaletteColor('pink-tint1');
    border-radius: 3px;
    max-width: 800px;
    line-height: 20px;
    position: relative;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__lightning {
    width: 30px;
    height: 30px;
    margin-right: 10px;

    > path {
      fill: oColorsGetPaletteColor('pink-tint3');
    }
  }

  &__message {
    display: block;
    // flex: 1;
  }

  &__dismiss {
    margin-left: 10px;
  }

  @include oGridRespondTo(S) {
    > div {
      max-width: 460px;
      margin: 0 auto;
    }
  }
}
