.state-results {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  &:before,
  &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }

  * {
    box-sizing: border-box;
  }

  &__section {
    flex: 2;
    overflow: hidden;
    position: relative;
    margin: 0 3px;

    > h4 {
      text-transform: uppercase;
      color: oColorsGetPaletteColor('grey-tint4');
      font: 200 11px/1.4 MetricWeb, sans-serif;
      margin: 0 0 5px 0;
      border-bottom: 1px solid oColorsGetPaletteColor('grey-tint2');
      text-align: center;

      > span {
        display: inline-block;
        padding-bottom: 5px;
      }
    }

    &--left {
      order: 1;
    }

    &--middle {
      flex: 1;
      background: white;
      order: 2;
      border: 4px solid white;

      > h4 {
        border-bottom: 0;
        color: oColorsGetPaletteColor('grey-tint5');
        font-weight: 600;

        > span {
          border-bottom: 1px solid #333;
        }
      }
    }

    &--right {
      order: 3;
    }
  }

  &__bucket-pair {
    display: flex;

    .state-results__section--left & {
      flex-direction: row-reverse;
    }
  }

  &__bucket {
    position: relative;
    flex: 1;

    > ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .state-results__section--right &:first-child,
    .state-results__section--left &:last-child, {
      margin-right: 6px;
    }


    &__header {
      height: 18px;
      overflow: hidden;
      overflow: 0;

      > h5 {
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        font: 200 11px MetricWeb, sans-serif;
        color: oColorsGetPaletteColor('grey-tint3');
      }
    }
  }


  @media (max-width: 369px) {
    width: calc(100% + 16px);
  }

  @media (min-width: 370px) {
    &__section--middle {
      border: 6px solid white;
      margin: 0 5px;
    }
  }

  @media (min-width: 400px) {
    &__section--middle {
      border: 10px solid white;
      margin: 0 8px;
    }
  }

  // only for mobile
  @include oGridRespondTo($until: M) {
    &__bucket {
      .state-results__section--right &:first-child,
      .state-results__section--left &:last-child, {
        margin-right: 2px;
      }

      > ul {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;

        .state-results__section--right & {
          flex-direction: row-reverse;
        }
      }
    }

    &__state {
      $per-line: 3;

      width: 100% / $per-line;
      overflow: hidden;
      text-align: center;
      position: relative;

      .body & {
        margin: 0;
        padding: #{100% / $per-line} 0 0 0;
      }
    }

    &__mini-result {
      &__wrap-1 {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        height: 100%;
        padding: 0 1px 1px 0;
      }

      &__wrap-2 {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
      }

      &__label {
        font: 600 10px MetricWeb, sans-serif;
        font-size: 2.6vw;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        > small {
          font-size: 0.7em;
          position: relative;
          top: 5%;
          margin-left: 0.05em;
        }
      }
    }

    &__detailed-result {
      display: none;
    }
  }

  // minor tweaks for bigger mobiles
  @include oGridRespondTo(S) {
    &__section {
      > h4 {
        font-size: 14px;
        line-height: 2;

        > span {
          padding: 0 4px;
        }
      }
    }


    &__bucket__header {
      height: 24px;

      > h5 {
        font-size: 14px;
      }
    }


    &__mini-result {
      &__wrap-1 {
        padding: 0 2px 2px 0;
      }

      &__label {
        font-size: 14px;
      }
    }
  }

  // switch up to detailed result style (i.e. show EC voting power per state)
  @include oGridRespondTo(M) {
    &__section--middle {
      border-width: 8px 8px 16px;
    }

    &__bucket__header {
      border-bottom: 1px solid #bbb;
      margin-bottom: 15px;

      .state-results__bucket--T & {
        border-bottom-color: white;
      }
    }

    &__bucket {
      .state-results__section--right &:first-child,
      .state-results__section--left &:last-child, {
        margin-right: 12px;
      }
    }

    &__state {
      font: 200 13px MetricWeb, sans-serif;

      .body & {
        margin: 0;
        padding: 0;
      }
    }

    &__mini-result {
      display: none;
    }

    &__detailed-result {
      $label-width: 40px;
      $bar-height: 16px;

      position: relative;
      display: block;
      height: $bar-height;
      margin: 2px 0;
      // outline: 1px solid yellow;

      &__label {
        width: $label-width;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        text-align: right;
        padding-right: 5px;
        white-space: nowrap;

        > small {
          font-size: 70%;
          margin-left: 1px;
        }
      }

      &__bar-wrap {
        position: relative;
        margin-left: $label-width;
        height: $bar-height;
        display: block;
        width: 80px;
        width: 11vws;
      }

      &__bar {
        display: block;
        position: absolute;
        left: 0;
        height: $bar-height;
        min-width: 1px;
      }

      &__votes {
        position: absolute;
        right: 2px;
        top: 0;

        // special snowflake: the "55" for Calif. should turn white when its bar turns blue
        .state-results__state--CA[data-called] & {
          color: white;
        }
      }
    }
  }

  @include oGridRespondTo(L) {
    &__section--middle {
      border-width: 8px 24px 16px;
    }

    &__state {
      font-size: 14px;
    }

    &__detailed-result {
      &__bar-wrap {
        width: 75px;
        width: 7vw;
      }
    }
  }

  @include oGridRespondTo(XL) {
    &__detailed-result {
      &__bar-wrap {
        width: 110px;
        width: 7vw;
        max-width: 110px;
      }
    }
  }
}
