@import 'o-grid/main';
@import './state-results';

// TODO get rid of duplicated styles below, and use oGridRespondTo mixin where appropriate

.layout--left-body .o-typography-footer {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
}
.o-typography-body-wrapper p {
  max-width: 666px;
}
.o-typography-body-wrapper h2 {
  font-weight: 400;
  margin-top: 1em;
  margin-bottom: 0.75em;
}

/* Responsive typography, copy values until we have Sass and o-typography */
@media (max-width: 30.615em) {
  .o-typography-heading1 {
    font-size: 26px;
    line-height: 1.1;
  }
  .o-typography-body-wrapper p {
    font-size: 16px;
  }
  .o-typography-body-wrapper h2 {
    font-size: 20px;
    line-height: 1.1;
  }
}
@media (max-width: 46.24em) and (min-width: 30.625em) {
  .o-typography-heading1 {
    font-size: 26px;
    line-height: 1.1;
  }
  .o-typography-body-wrapper p {
    font-size: 16px;
  }
  .o-typography-body-wrapper h2 {
    font-size: 20px;
    line-height: 1.1;
  }
}
@media (max-width: 61.24em) and (min-width: 46.25em) {
}
@media (max-width: 76.24em) and (min-width: 61.25em) {
}
@media (min-width: 76.25em) {
}

.article-figure {
  font-family: MetricWeb, sans-serif;
  margin-bottom: 3em;
}
.article-figure p {
  line-height: 1.52em
}


.article-figure .article-figure__heading {
  margin-top: 2em;
  margin-bottom: 0.5em;
  font-family: inherit;
}

@media (max-width: 61.24em) {
  .article-figure .article-figure__heading {
  margin-top: 1em;}
}


.article-figure .article-figure__subheading {
  color: #6b6e68;
  font-size: 18px;
  font-family: inherit;
  margin: 0.3em 0 0.8em 0;
  line-height: 1.2em;
}

.article-figure__heading + .article-figure__content {
  margin-top: 0.8em;
}

.article-figure__subheading + .article-figure__content {
  margin-top: 0.5em;
}

@media (max-width: 46.25em) {
  .article-figure .article-figure__subheading {
    font-size: 16px;
  }
}

.article-head__dateline {
  font-size: 12px;
  margin-bottom: 0;
}

.section-head {
  margin-bottom: 0;
}

.rail__content {
  padding-bottom: 1em;
  border-left: 1px solid #cec6b9;
  font-family: "MetricWeb", sans-serif;
}

.rail__content h3 {
  border-bottom: 1px solid #cec6b9;
  padding-bottom: 5px;
  font-family: "MetricWeb", sans-serif;
  font-weight: 600;
}

.rail__state-list {
  padding-left: 20px;
}

.rail__state-list h4 {
  font-family: "MetricWeb", sans-serif;
  font-weight: 600;
  color: #555;
  margin-top: 9px;
  margin-bottom: 9px;
}

.rail__state-list ul {
  margin-left: 0;
  padding-left: 0;
  font-family: "MetricWeb", sans-serif;
}

.rail__state-list li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.rail__state-list li a {
  color: #6b6e68;
  border-bottom: none;
  border-bottom: 1px dotted transparent;
}

.rail__state-list li a:hover {
  color: #27757b;
  border-color: #27757b;
}

.rail__state-list select {
  width: 100%;
  margin-bottom: 2em;
}

.rail__state-list__items .o-expander__content {
  max-height: 200px;
}

.rail__state-list__items .o-expander__content.o-expander__content--expanded {
  max-height: none;
  padding-bottom: 5vh;
}

.rail__state-list__nationalLink a {
  color: #318085;
  border-bottom: 1px #318085 dotted;
  font-size: 1.2em;
  font-weight: normal;
}

#rail__state-list__expander .o-expander__toggle {
  font: 18px/1.4 Georgia, serif;
  font-family: "MetricWeb", sans-serif;
  color: #27757b;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px dotted transparent;
}

#rail__state-list__expander .o-expander__toggle:hover {
  border-bottom-color: #27757b;
}

#rail__state-list__expander .o-expander__toggle i {
  vertical-align: middle;
  width: 16px;
  height: 16px;
}

#rail__state-list__expander ul {
  margin-bottom: 6px;
  overflow: hidden;
}

.rail__state-list__nationalMap{
  margin-top: 10px;
  width: 90%;
  display: inline-block;
}

a.rail__state-list__nationalMap {
  border: none;
}

.rail__state-list__nationalMap img {
  width: 100%;
  height: auto;
  display: block;
}

.congressional-district-nav {
  margin: 1em 0;
}

.congressional-district-nav p {
  margin-bottom: 0.5em;
}

.congressional-district-nav__item {
  display: inline-block;
  margin-right: 10px;
}

.o-typography-body-wrapper .source {
  line-height: 1.1;
  margin-top: 3.5em;
  padding: 0.1em;
  border-top: 1px solid #cec6b9;
}

@media (max-width: 61.24em){
  .o-typography-body-wrapper .source {
    margin-top: 0;
  }
}

.o-typography-body-wrapper .source p {
  color: #333;
  font-family: MetricWeb, sans-serif;
  font-size: 1em;
}

.o-typography-body-wrapper .source p:first-of-type{
    margin-top: 2em;
}

@media (max-width: 61.24em){
  .o-typography-body-wrapper .source p:first-of-type{
    margin-top: 1em;
}
}



.o-typography-body-wrapper .note {
  line-height: 1.1;
  margin-top: 0.5em;
  margin-bottom: 1em;
  color: #6b6e68;
  font-family: MetricWeb, sans-serif;
}
.pollchart {
  display: none;
  margin: 0 auto;
}
.pollchart svg {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}
#latestnews {
  margin: 3em auto;
  padding: 20px;
  background-color: #f6e9d8;
}
#latestnews h3 {
  font-family: MetricWeb, sans-serif;
  margin: 0 0 0.6em 0;
  font-weight: 400;
  font-size: 28px;
}

@media (max-width: 46.24em) {
  #latestnews h3 {font-size: 20px;}
}


.forecast-map {
  display: block;
  margin: 0 auto;
}
.forecast-map__label > text {
  fill: #222;
}
.forecast-map__label--external > rect {
  stroke: none;
}
.forecast-map__state-shape {
  stroke: #fff1e0;
  stroke-width: 1.5;
}
.forecast-map__two-letter-name { display: none; }
.forecast-map__state-shape--AK,
.forecast-map__state-shape--HI {
  stroke: none;
}
.o-typography-body-wrapper footer {
  font-size: 21px;
  line-height: 24px;
  margin: 20px 0;
}
@media (max-width: 46.25em) {
  .forecast-map {
    width: 30.625em;
    height: 18em;
  }
  .forecast-map__short-name { display: none; }
  .forecast-map__two-letter-name {
    display: inline;
    font-size: 27px;
  }
}
@media (max-width: 30.625em) {
  .forecast-map {
    width: 300px;
    height: 11.3em;
  }
}
p.notavailable {
  color: #666;
  font-size: 1em;
}
p.correction {
  font-style: italic;
  margin-top: 2em;
}
p.off-link{
  font-size: 21px;
  font-weight: 400;
  text-align: right;
  font-family: MetricWeb, sans-serif;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  max-width: none;
}

p.off-link a{
  border: none;
  line-height: 33px;
}

@media (max-width: 46.24em){
  p.off-link{
     font-size: 18px;
  }
}

p.off-link a:after {
    content: " ";
    background: url('https://image.webservices.ft.com/v1/images/raw/fticon:arrow-right?height=36&tint=27757b,27757b&source=ig') no-repeat center center;
    background-size: 18px 18px;
    float: right;
    width: 24px;
    height: 35px;
    margin: 0;
}
a {
  text-decoration: none;
}
@media (max-width: 30.615em) {
  .pollchart.pollchart--default {
    display: block;
  }
  .pollchart.pollchart--default svg {
    max-width: 380px;
  }
}
@media (max-width: 46.24em) and (min-width: 30.625em) {
  .pollchart.pollchart--S {
    display: block;
  }
  .pollchart.pollchart--S svg {
    max-width: 705px;
  }
}
@media (max-width: 61.24em) and (min-width: 46.25em) {
  .pollchart.pollchart--M {
    display: block;
  }
  .pollchart.pollchart--M svg {
    max-width: 657px;
  }
}
@media (max-width: 76.24em) and (min-width: 61.25em) {
  .pollchart.pollchart--L {
    display: block;
  }
  .pollchart.pollchart--L svg {
    max-width: 708px;
  }
}
@media (min-width: 76.25em) {
  .pollchart.pollchart--XL {
    display: block;
    max-width: 741px;
  }
}

.o-expander .table-toggle-btn {
  margin: 2em auto;
  display: block;
  width: 80%;
  max-width: 300px;
}

.o-typography-body-wrapper .national-bar__header {
  margin-top: 2em;
  margin-bottom: -1em;
  color: #6b6e68;
  font-family: MetricWeb, sans-serif;
  font-weight: 400;
}

#national-bar-wrapper {
  margin: 2em 0 2em;
}

#national-bar-wrapper * {
  box-sizing: border-box;
}

.national-bar--head-icons {
  width: 80px;
  display: inline-block;
  vertical-align: bottom;
}

.national-bar--head-icons img {
  width: 100%;
}

#national-bar-container {
  width: 100%;
  height: 23px;
  position: relative;
  display: inline-block;
}

#national-270-line {
  position: absolute;
  width: 50%;
  height: 100%;
  border-right: 1px solid #555555;
  bottom: 0;
  z-index: 2;
}

#national-270-line:after {
  content: "270 to win";
  position: absolute;
  right: -30px;
  top: -20px;
  font-weight: 400;
  color: #555555;
}

.national-bar-container--subbars {
  display: inline-block;
  height: 100%;
  margin: 0;
  padding: 0;
  float: left;
  text-align: center;
  position: relative;
}



.national-bar-container-values {
  font-weight: 600;
  letter-spacing: 1px;
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  font-size: 18px;
  color: #ffffff;
}

@media (max-width: 490px){
  .national-bar-container-values {
  line-height: 37px;
  }
}

.national-bar-container-keys {
  white-space: nowrap;
  width: 100%;
  font-weight: 400;
  font-size: 15px;
  line-height: 0.9em;
  margin-top: 0.3em;
  color: #666666;
  text-transform: uppercase;

}

#national-bar-container-keys--rep {
  text-align: right;
}

.national-bar-container-keys--party {
  font-size: 14px;
  color: #666;
  font-weight: 400;
  margin-top: -2px;
}

.national-bar-container-group-sums {
  font-size: 2.8em;
  font-weight: 200;
}

@media (max-width: 490px){
  .national-bar-container-group-sums {
    font-size: 2.5em;
  }
}

.heads-container {
  width: 100%;
  margin-bottom: 10px;
}

.clinton-container,
.trump-container {
  display: inline-block;
  width: 49%;
}

.trump-container {
  text-align: right;
}

.votes-container {
  display: inline-block;
  margin-bottom: 16px;
}
.votes-container--dem {
  margin-left: 10px;
}
.votes-container--rep {
  margin-right: 10px;
}

#national-bar-container-group-sums--dem {
  color: #579dd5;
}

#national-bar-container-group-sums--rep {
  color: #e03d46;
}

#national-bar-legend {
  text-align: center;
}

.national-bar-legend-item--grouped {
  display: inline-block;
}

.national-bar-legend-item {
  display: inline;
  margin-right: 16px;
}

#national-bar-legend-item--rep-solid {
  float: right;
  margin-left: 8px;
}

.national-bar-legend-block {
  width: 20px;
  height: 10px;
  display: inline-block;
  margin-right: 5px;
}

@media (max-width: 580px) {
  #national-bar-wrapper {
    margin: 2em 0 1em;
  }
}

@media (max-width: 490px) {
  .national-bar-legend-item {
    display: block;
    width: 100%;
    text-align: left;
  }

  .national-bar-legend-item--grouped {
    display: inline-block;
    width: 32%;
    text-align: center;
    vertical-align: top;
  }

  #national-bar-legend-item--rep-solid {
    float: none;
    margin-left: 0;
  }
}

/** Mobile fixes for national bar **/
@media (max-width: 490px) {
  .national-bar--head-icons {
    display: none;
  }

  #national-bar-container {
    width: 100%;
  }

  @media (max-width: 490px) {
     #national-bar-container {
    height: 40px;
  }
  }

  .national-bar-container-group-sums {
    top: 54px;
  }

  #national-bar-legend {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .votes-container {
    margin-bottom: 0;
  }
}

#statelist {
  width: 100%;
}

#statelist-table {
    max-width: 510px;
    padding: 2em 4em 0.5em 4em;
    margin: 40px auto 0;
    color: #333;
    background: #F6E9D8;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.15);
}

#statelist table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 1em;
}

#statelist tr th {
  border-bottom: 1px solid #999999 !important;
}

#statelist th {
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  vertical-align: bottom;
  padding-bottom: 0.3em;
}

#statelist-table .statelist-switch{
  font-weight: 600;
  padding: 0.25em 0;
}

#statelist th.statelist-state {
  text-align: left;
  text-transform: initial;
  font-style: italic;
}

#statelist td {
  padding: 0.25em;
  position: relative;
  font-size: 1.06rem;
}

#statelist th.statelist-pollmargin {
  padding: 0 0 0.3em 0;
}

#statelist .statelist-pollmargin {
  width:4px;
  padding: 0;
  font-weight: normal;
}

#statelist th.statelist-ecvotes {
  text-align:center;
  min-width: 50px;
  max-width: 100px;
  padding-right: 0;
  font-weight: normal;
}

#statelist td.statelist-ecvotes {
  padding-right: 9%;
  padding-left: 0;
  text-align: right;
}

#statelist tr {
  border-bottom: 1px solid #cec6b9;
  height: 30px;
}

#statelist tr.statelist-staterow:hover {
  background: #f6e9d8;
}

#statelist tr.statelist-staterow:hover .statelist-stateLabel {
  text-decoration: underline;
}

#statelist td.statelist-state{
  padding-left:25px;
}

#statelist .statelist-pollmargin.statelist-pollmargin--mobile {
  display: none;
}

.statelist-switch {
  font-weight: 600;
}

.statelist-switch{
  font-size: 0.9rem;
  text-align:center;
  text-transform: uppercase;
  min-width: 180px;
}

th.statelist-switch{
  text-align: center;
  margin:auto;
}


.dem-margin-cell{
  color:#579dd5;
  text-align:right;
}

.rep-margin-cell{
  color:#e03d46;
  text-align:left;
}

.tie-margin-cell{
  color: #000;
}

#calculation-result{
  background-color: #F6E9D8;
  padding: 10px 0;
}

#calculation-result-label {
  font-size: 14px;
  font-style: italic;
  color: #333333;
  margin-bottom: 0.3em;
}

.calculation-chart--name{
  fill:#FFF;
}

.calculation-chart--value{
  font-weight: bold;
   fill:#333;
}

.calculation-chart--secondarytext .calculation-chart--name{
  fill:#333;
}

.o-buttons.calculator-reset-button {
  margin-top: 1em;
}

.sticky{
  box-sizing: border-box;
  margin-left:-20px;
  width:100%;
}

.stuck{
  z-index: 1;
  margin-left: -20px;
  position: fixed;
  top:0px;
  display:block;
}

.stuck.sticky {
  border-bottom: 160px solid #cec6b9;
}

#statelist-winner-container {
  position: absolute;
  width: 100%;
  pointer-events: none;
}

#statelist-winner-container[data-statelist-winner="Clinton"] .statelist-winner#statelist-winner--clinton,
#statelist-winner-container[data-statelist-winner="Trump"] .statelist-winner#statelist-winner--trump {
  opacity: 1;
  display: block;
}

#statelist-winner-container-panel {
  width: 100%;
  background: #F6E9D8;
  opacity: 0;
  height: 105px;
  position: absolute;
  transition: opacity 195ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#statelist-winner-container[data-statelist-winner="Clinton"] #statelist-winner-container-panel,
#statelist-winner-container[data-statelist-winner="Trump"] #statelist-winner-container-panel {
  opacity: 0.7;
}

.statelist-winner {
  position: absolute;
  opacity: 0;
  left: 24px;
  transition: opacity 195ms cubic-bezier(0.645, 0.045, 0.355, 1) 50ms;
  display: none;
  width: 210px;
}

.statelist-winner img {
  margin-top: 43px;
}

.switch-button{
  font-size: 0.85em;
  font-weight: 600;
  display: inline-block;
  width: 54px;
  height: 16px;
  background-size: 100%;
  margin: 0 4px;
  padding: 5px 10px 3px;
  line-height: 100%;
  border-radius: 4px;
  /*text-indent: 100%;*/
  white-space: nowrap;
  /*overflow: hidden;*/
  border-bottom: none;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
}

.statelist-dem .switch-button.rep,
.statelist-leaningDem .switch-button.rep,
.statelist-swing .switch-button.rep{
  /*background-image: url("ui/rep-off.png"); */
  background-color: white;
  border: 2px solid rgba(224, 61, 70,0.5);
  color: #e03d46;
}

.statelist-rep .switch-button.dem,
.statelist-leaningRep .switch-button.dem,
.statelist-swing .switch-button.dem{
  /*background-image: url("ui/dem-off.png");*/
  background-color: white;
  border: 2px solid rgba(61, 142, 208, 0.5);
  color: #3d8ed0;
}

.statelist-dem .switch-button.dem,
.statelist-leaningDem .switch-button.dem{
  /*background-image: url("ui/dem-on.png");*/
  background-color: #3d8ed0 !important;
  border: 2px solid #3d8ed0;
  color: white;
}


.statelist-rep .switch-button.rep,
.statelist-leaningRep .switch-button.rep{
  /*background-image: url("ui/rep-on.png");*/
  background-color: #e03d46 !important;
  border: 2px solid #e03d46;
  color: white;
}


.statelist-catLabel {
  color: white;
  width: 20px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.statelist-state a {
  margin-left: 0px;
  color: #333;
  border-bottom: none;
}

.statelist-state a:hover {
  border-bottom: 1px solid #333;
}

.statelist-dem .statelist-catLabel {
  background: #579dd5;
}

.statelist-leaningDem .statelist-catLabel {
  background: #a2c1e1;
}

.statelist-swing .statelist-catLabel {
  background: #fcc83c;
}

.statelist-rep .statelist-catLabel {
  background: #e03d46;
}

.statelist-leaningRep .statelist-catLabel {
  background: #f4a098;
}


.statelist-nodata {
  color: #666;
}

.statelist-cellabbrv{
  display:none;
}

.statelist-cellfull{
  display: inline;
}

@media (max-width: 740px) {
  .stuck{
    margin-left: -10px;
  }
}

@media (max-width: 500px) {

  .sticky{
    margin-left:-10px;
  }

  .stuck{
    margin-left:-10px;
    width:100vw;
  }

  .statelist-catLabel{
    width:8px;
  }

  #statelist td.statelist-state{
    padding-left: 10px;
  }

  #statelist td.statelist-ecvotes {
    padding-right: 6%;
  }

  .statelist-cellabbrv{
    display:inline;
  }

  .statelist-cellfull{
    display: none;
  }

  #statelist .statelist-ecvotes {
    display: none;
  }

  #statelist .statelist-pollmargin {
    display: none;
  }

  #statelist .statelist-pollmargin.statelist-pollmargin--mobile {
    display: table-cell;
    text-align: center;
  }

  #statelist th.statelist-pollmargin.statelist-pollmargin--mobile {
    padding-bottom: 0.3em;
  }

  #statelist-table {
    max-width: 510px;
    padding: 0 10px 0.5em 10px;
  }

  #statelist-table table{
    width:100%;
  }
}

#individualpolls table {
  color: #333;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-feature-settings: "tnum";
  border-collapse: collapse;
  border-spacing: 0;
}

#individualpolls tr th {
  border-bottom: 1px solid #999999 !important;
}

#individualpolls th {
  min-width:50px;
  padding-left: 10px;
  padding-right: 10px;

  text-align: left;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  vertical-align: bottom;
  padding-bottom: 0.3em;
}

#individualpolls th:first-child {
  padding-left: 0;
}

#individualpolls th:last-child {
  padding-right: 0;
}

#individualpolls td:first-child {
  padding-left: 0;
}

#individualpolls td:last-child {
  padding-right: 0;
}


#individualpolls th.numeric {
  text-align: center;
}

#individualpolls th.samplesize {
  text-align: right;
}

#individualpolls td{
  font-size: 1.06rem;
  text-align: left;
  padding-right: 10px;
  padding-left: 10px;
}

#individualpolls tr {
  border-bottom: 1px solid #cec6b9;
  height: 30px;
}

#individualpolls td.clinton.winner {
  background: #a2c1e1;
}

#individualpolls td.trump.winner {
  background: #f4a098;
}

#individualpolls td.mcmullin.winner {
  background: #c0b5cc;
}

#individualpolls #individualpolls td.winner.narrowonly {
  font-weight: 400;
}

#individualpolls td.narrowonly {
  height: 32px;
}

#individualpolls td.winner.narrowonly .winner {
  font-weight: 600;
}

#individualpolls td.numeric{
  text-align: center;
  border-left: 1px solid #cec6b9;
  width: 70px;
}

#individualpolls td.samplesize {
  text-align: right;
}

#individualpolls td.samplesize .sampleType {
  color: #777;
}

#individualpolls td.date{
  min-width: 70px;
  color: #777777;
}

#individualpolls p.notavailable {
  color: #666;
  font-size: 1em;
}

@media (min-width: 600px) {
  #individualpolls .narrowonly {
    display: none;
  }
}

@media (max-width: 600px) {

  #individualpolls td.numeric {
    text-align: center;
    white-space: nowrap;
    width: inherit;
  }

  #individualpolls .secondary {
    display: none;
  }

  #individualpolls th {
    padding: 0;
  }

  #individualpolls td {
    padding-left: 5px;
    padding-right: 5px;
  }
}

/** State Summary section **/
.state-status-bar__container {
  width: 100%;
  color: white;
  text-align: center;
  text-transform: uppercase;
  height: 1.5em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.state-ec-votes-total__container {
  text-align: center;
  font-style: italic;
  color: #A79B88;
  margin: 0.5em 0;
}
.state-ec-votes-total__container figure {
  display: inline;
  font-weight: bolder;
  color: black;
}

.state-status-bar__container--dem {
  background-color: #579dd5;
}

.state-status-bar__container--leaningDem {
  background-color: #a2c1e1;
}

.state-status-bar__container--swing {
  background-color: #fcc83c;
}

.state-status-bar__container--leaningRep {
  background-color: #f4a098;
}

.state-status-bar__container--rep {
  background-color: #e03d46;
}

.state-ecvotes-graphic__tooltip {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: .5em;
  padding: .5em;
  display: none;
}

.state-ecvotes-graphic__squares {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 5.1em;
  width: auto;
  margin: 0 auto;
  box-sizing: border-box;
}

.state-ecvotes-graphic__squares > div {
  width: .5em;
  height: .5em;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  cursor: pointer;
}

.state-ecvotes-graphic__inner-square {
  margin: 0;
  padding: 0;
  border-width: 2px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-width: 2px;
  border-color: #CAC6C1;
  border-style: solid;
  background-color: transparent;
}

@media (min-width: 980px) {
  .state-ecvotes-graphic__squares {
    height: 95px;
  }
}


@media (max-width: 690px) {
  .state-ecvotes-graphic__squares {
    height: 95px;
  }

  .state-ecvotes-graphic__squares > div {
    width: 8px;
    height: 8px;
  }
}

@media (max-width: 630px) {
  .state-ecvotes-graphic__squares {
    height: 100px;
  }

  .state-ecvotes-graphic__squares > div {
    width: 7px;
    height: 7px;
  }
}

@media (max-width: 470px) {
  .state-ecvotes-graphic__squares {
    height: 100px;
  }

  .state-ecvotes-graphic__squares > div {
    width: 6px;
    height: 6px;
  }
}

@media (max-width: 390px) {
  .state-ecvotes-graphic__squares {
    height: 105px;
  }

  .state-ecvotes-graphic__squares > div {
    width: 5px;
    height: 5px;
  }
}

.state-ecvotes-graphic__square--ec-vote .state-ecvotes-graphic__inner-square {
  border-color: black !important;
}

.state-ecvotes-graphic__square--dem .state-ecvotes-graphic__inner-square {
  border-color: #579dd5;
}

.state-ecvotes-graphic__square--leaningDem .state-ecvotes-graphic__inner-square {
  border-color: #a2c1e1;
}

.state-ecvotes-graphic__square--rep .state-ecvotes-graphic__inner-square {
  border-color: #e03d46;
}

.state-ecvotes-graphic__square--leaningRep .state-ecvotes-graphic__inner-square {
  border-color: #f4a098;
}

.state-ecvotes-graphic__square--swing .state-ecvotes-graphic__inner-square {
  border-color: #fcc83c;
}

.state-ecvotes-graphic__square--dem.current-state .state-ecvotes-graphic__inner-square {
  background-color: #579dd5;
}
.state-ecvotes-graphic__square--leaningDem.current-state .state-ecvotes-graphic__inner-square {
  background-color: #a2c1e1;
}
.state-ecvotes-graphic__square--rep.current-state .state-ecvotes-graphic__inner-square {
  background-color: #e03d46;
}
.state-ecvotes-graphic__square--leaningRep.current-state .state-ecvotes-graphic__inner-square {
  background-color: #f4a098;
}
.state-ecvotes-graphic__square--swing.current-state .state-ecvotes-graphic__inner-square {
  background-color: #fcc83c;
}


#demographic-wrapper {
  width: 100%;
  margin-top: -1em;
}

.demographic-container {
  width: 48%;
  display: inline-block;
  /*vertical-align: top;*/
  text-align: center;
  margin-top: 2em;
}

.demographic-container:nth-child(even) {
  float: right;
}

.demographic-container h3 {
  font-family: MetricWeb, sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding: auto 5px;
  text-align: left;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 0.5em;
}

.demographics-barcode-chart {
  max-width: 100%;
  overflow: visible;
}

@media (max-width: 500px) {
  .demographic-container {
    width: 100%;
  }

  .demographic-container:nth-child(even) {
    float: none;
  }
}


.article-figure__heading--state-winners-table {
    margin-bottom: 0.75em;
   /* Needed due to lack of subhead */
}



.state-winners-table {
  width: 100%;
  border-spacing: 0;
}

.state-winners-table th {
  font-size: 0.875em;
  min-width: auto;
  -webkit-font-smoothing: antialiased;
}

.state-winners-table td {
  border-bottom: 1px solid #CEC6B9;
  font-size: 1.06em;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "tnum";
}

.state-winners-table__empty {
  border-bottom: 0;
}

.state-winners-table__primary-header th {
  text-transform: uppercase;
  text-align: left;
  border-bottom: 0;
  font-weight: 600;
  color: #333;
  padding-left: 0.5em;
}

.state-winners-table__primary-header th:nth-child(2) {
  border-right: 1px solid #777;
}

.state-winners-table__secondary-header th {
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: 1px solid #777;
  padding-bottom: 0.4em;
}

.state-winners-table__secondary-header th:first-child {
  text-align: left;
  padding-left: 0;
}

.state-winners-table__secondary-header th:nth-child(2) {
  border-right: 1px solid #777;
}

.state-winners-table__secondary-header th:nth-child(2),
.state-winners-table__secondary-header th:nth-child(3) {
  text-align: left;
  padding-left: 0.5em;
}

.state-winners-table tbody tr td:first-child {
  border-right: 1px solid #CEC6B9;
}

.state-winners-table tbody tr td:nth-child(4) {
  border-bottom: 1px solid #CEC6B9;
  border-right: 1px solid #777;
}

.state-winners-table__year {
  width: auto;
  text-align: left;
  padding-left: 0;
  font-weight: normal;
}

tbody .state-winners-table__year {
  color: #777;
}

.state-winners-table__state-winner,
.state-winners-table__federal-winner {
  width: 20%;
  text-align: right;
  padding-right: .5em;
}

/*.state-winners-table__state-winner.dem,
.state-winners-table__federal-winner.dem {
  color: #a2c1e1;
}

.state-winners-table__state-winner.gop,
.state-winners-table__federal-winner.gop {
  color: #f4a098;
}*/


.state-winners-table__winning-pct-state,
.state-winners-table__winning-pct-federal {
  width: 25%;
  padding: 0.3em 0;
}


.state-winners-table__winning-pct-bar {
  height: 1em;
  margin-right: 0.3em;
  float: left;
  background-color: #999;
}

.state-winners-table__winning-pct-bar.gop {
  background-color: #e03d46;
}

.state-winners-table__winning-pct-bar.dem {
  background-color: #579DD5;
}

.state-winners-table__republicans.gop-winner {
  color: #e03d46;
  font-weight: bold;
}

.state-winners-table__dems.dem-winner {
  color: #579DD5;
  font-weight: bold;
}

.state-winners-table__winning-pct-state-figure,
.state-winners-table__winning-pct-federal-figure {
  text-align: right;
}

.state-winners-table__winning-pct-state-figure {
  padding-right: 0.5em;
}

.state-winners-table__winning-pct-federal-figure {
  padding-right: 0;
}

/* electoral college breakdown*/

.ec-breakdown-container {
  margin-top: 1.75em;
  padding-bottom: 1em;
  border-bottom: 1px solid #cec6b9;
}

.ec-breakdown-bar{
     display:inline-block;
     background-color:#000;
     height:13px;
     color:#FFF;
}

.ec-breakdown-bar-container{
    padding-left: 3px;
}

.ec-breakdown-row {
    height:15px;
    margin-bottom: 1px;
}

a.ec-breakdown-row {
  border: none;
}

.ec-breakdown-header {
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #555555;
    font-size: 14px;
    padding: 4px 0;
    margin-bottom: 8px;
    border-bottom: 1px solid #555555;
    white-space: nowrap;
}
.ec-breakdown-column:nth-child(3) .ec-breakdown-header {
    border-top: 1px solid #999999;
}

.ec-breakdown-statelabel {
  overflow:visible;
  text-align: right;
  padding: 0 4px 0 0;
  font-size: 13px;
  color: #333333;
}

.ec-breakdown-row:not(.ec-breakdown-header):hover .ec-breakdown-statelabel span{
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px solid #333333;
}

.ec-breakdown-bar-label {
  text-align: right;
  font-feature-settings: "tnum";
  color: #333333;
  font-size: 13px;
  position:absolute;
  right: 2px;
  top: 0;
  line-height: 13px;
}

.ec-breakdown-bar-label--wob {
  color: #ffffff;
}

.Solid,
.Leaning {
  padding: 0 1%;
}

.Toss-up {
  margin: 0 8.3333%;
  font-size: 15px;
}

.Toss-up .ec-breakdown-header,
.Toss-up .ec-breakdown-statelabel,
.Toss-up .ec-breakdown-bar-label {
  font-weight: 600;
  font-size: 14px;
  overflow: visible;
}

.ec-breakdown-row:not(.ec-breakdown-header):hover {
  background-color: #e9decf;
}

.ec-breakdown-footnote {
  font-size: 14px;
  color: #555555;
  padding-top: 3px;
}

@media (max-width: 490px) {

  .ec-breakdown-container {
    margin-top: 0.5em;
  }

  .Toss-up {
    margin: 0;
  }
  .ec-breakdown-column:first-child .ec-breakdown-header,
  .ec-breakdown-column:nth-child(4) .ec-breakdown-header {
    border-right: 0;

  }
  .ec-breakdown-column {
    margin-bottom: 20px;
  }

  .ec-breakdown-column.Solid,
  .ec-breakdown-column.Leaning {
    display: none;
  }
}
/** Mobile nav **/

.nav___mobile-nav,
.rail__mobile-overlay,
.rail__close-button--container {
  display: none;
}

.rail__state-list__nationalItems {
  display: flex;
  height: 232px;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.rail__state-list__logo {
  padding: 0 8px 0 0;
  border-bottom: none !important;
}

@media (max-width: 979px) {
  .nav___mobile-nav {
    display: flex;
    margin-top: 1em;
    padding: 1em 0;
    justify-content: space-around;
    border-top: 2px solid #E4DFCB;
  }

  .nav___mobile-nav--back-to-overview,
  .nav___mobile-nav--choose-state {
    color: #27757B;
    height: 2em;
  }

  .nav___mobile-nav--back-to-overview {
    background: transparent;
    border: 0 !important;
    display: flex !important;
    padding: 0 !important;
    align-items: flex-start;
    text-align: left;
  }

  .nav___mobile-nav .nav___mobile-nav--back-to-overview .dotted-underline {
    margin-top: 10px;
  }

  .nav___mobile-nav:not(.page__national) .nav___mobile-nav--back-to-overview .dotted-underline {
    color: #27757B;
    border-bottom: 1px dotted #27757B;
  }

  .nav___mobile-nav--back-to-overview:focus,
  .nav___mobile-nav--back-to-overview:active {
    border: none !important;
    box-shadow: none !important;
    background: none !important;
  }

  .page__national .nav___mobile-nav--back-to-overview {
    color: #333;
    cursor: default;
  }

  .page__national .nav___mobile-nav--back-to-overview:focus {
    outline: none !important;
  }

  .page__national .nav___mobile-nav--back-to-overview i.o-icons-icon {
    display: none;
  }

  .nav___mobile-nav--choose-state {
    background: transparent;
    border: 0;
    border-left: 2px solid #E4DFCB;
    display: block;
    text-align: center;
    text-transform: none !important;
  }

  .nav___mobile-nav--back-to-overview {
    align-items: center;
  }

  .nav___mobile-nav--back-to-overview > img {
    padding: 0 0.5em;
    position: relative;
    margin-top: -7px;
  }

  .article__aside {
    display: block;
    position: fixed;
    padding-left: 0;
    width: 90%;
    height: 100%;
    left: 105%; /* start off screen */
    top: 0;
    transition: left 195ms cubic-bezier(0.645, 0.045, 0.355, 1); /* exiting: easeInOutCubic */
    background: #FFF3E5;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    z-index: 98;
  }

  .article__aside.opened {
    left: 10%;
    transition: left 225ms cubic-bezier(0.23, 1, 0.32, 1); /* entering: easeOutQuint */
    box-shadow: -4px 6px 60px -4px rgba(0,0,0,0.5);
    padding-bottom: 5vh;
  }

  .rail {
    height: 100%;
  }

  .rail__mobile-overlay {
    display: block;
    position: fixed;
    left: 105%;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 195ms linear;
    width: 100%;
    height: 100%;
    z-index: 97;
  }

  .rail__mobile-overlay.opened {
    left: 0%;
    background-color: rgba(0, 0, 0, 0.25);
  }

  .rail__close-button--container {
    border-bottom: 2px solid #F6EEE4;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 2.5em;
  }

  .rail__close-button--button {
    background-image: url("https://next-geebee.ft.com/image/v1/images/raw/fticon-v1:cross?source=o-icons&tint=%23505050,%23505050&format=svg");
    background-size: contain;
    display: block;
    height: 40px;
    width: 40px;
    margin-right: 1em;
    opacity: 0.75;
  }

  .rail__close-button--button:hover,
  .rail__close-button--button:focus {
    opacity: 1;
  }

  .rail__state-list__nationalItems {
    height: 75px;
  }

  .rail__content {
    border: 0;
    padding: 0 1.9em 1.9em 2em;
    overflow: auto;
    height: 95%;
  }

  .rail__content h3 {
    display: none;
  }

  .rail__state-list {
    padding: 0;
  }

  .rail__state-list h4 {
    margin-bottom: 10px;
    padding-top: 0;
    margin-top: 4px;
  }

  .rail__state-list ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .rail__state-list ul li {
    padding: 0.25em 0.5em;
    width: calc(50% - 2 * .5em);
    max-width: 200px;
    font-weight: normal;
    color: #545752;
  }

  .rail__state-list__nationalLink {
    padding: 0;
    /*background-image: url(https://image.webservices.ft.com/v1/images/raw/fticon:arrow-left?source=o-icons&tint=%2327757B,%2327757B&format=svg);
    background-image: url(https://image.webservices.ft.com/v1/images/raw/fticon:arrow-left?source=o-icons&tint=%2327757B,%2327757B&format=png&width=14)\9;
    background-repeat: no-repeat;
    background-position: -5px 50%;
    background-size: contain;*/
    width: 60%;
    max-width: 180px;
  }

  .rail__state-list__nationalMap {
    display: none;
  }

  .rail__ad {
    display: none;
  }

  /** hacky text overrides **/
  .nav__link--district-of-columbia:before {
    content: 'D.C.';
    font-size: 1.125rem;
  }
  .nav__link--district-of-columbia {
    font-size: 0;
  }

  @media (max-width: 320px) {
    .nav___mobile-nav--back-to-overview,
    .nav___mobile-nav--choose-state {
      font-size: 90% !important;
    }

    .rail__content {
      padding: 1em;
    }

    .rail__state-list ul li {
      font-size: 90% !important;
    }

    .nav__link--district-of-columbia:before {
      font-size: 1rem;
    }
  }
}

@media (min-width: 76.25em) {
    .article__aside{
      padding-left: 0;
    }
}

.article__aside .suggested-reads {
    border: 1px solid #cec6b9;
    position: relative;
    margin: 30px 0 20px;
    padding: 20px 20px 0;
}

.article__main .suggested-reads {
  background-color: #e9decf;
  padding: 20px 0;
  box-sizing: border-box;
}

.suggested-reads .suggested-reads__title {
    font-family: FinancierDisplayWeb,serif;
    line-height: 24px;
    font-weight: 400;
    position: absolute;
    top: -10px;
    left: 10px;
    margin: 0;
    padding: 0 10px;
    background: #fff1e0;
    font-size: 18px;
}

.article__main .suggested-reads__title {
  background: none;
  display: block;
  position: static;
  margin: -10px 0 7px 20px;
  padding: 0;
  font-family: MetricWeb, sans-serif;
  text-transform: uppercase;
  color: #333;
  font-size: 16px;
}

.suggested-reads .suggested-reads__subheading {
    font-family: sans-serif;
    font-size: 13.05px;
    line-height: 17px;
    font-weight: 400;
    margin: 0 0 10px;
    color: #333;
    border-bottom: 1px solid #cec6b9;
    padding-bottom: 10px;
}

.article__main .suggested-reads__list {
  display: table;
  width: 100%;
  table-layout: fixed;
}


.suggested-reads .suggested-reads__list-item {
    margin-bottom: 20px;
}

.article__main .suggested-reads__list-item {
  display: table-cell;
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px solid #a7a59b;
}

.article__main .suggested-reads__list-item:last-child {
  border-right: none;
}

.article_aside .suggested-reads__list-item {
  display: block;
}

.suggested-reads .suggested-reads__list-item__headline {
    font-family: serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    display: block;
    border-bottom: 0;
    margin: 0 0 4px;
}

.article__main .suggested-reads__list-item__headline {
  font-size: 22px;
}

.suggested-reads__list-item__headline:hover .suggested-reads__list-item__headline-text {
    border-bottom: 1px dotted;
}

.suggested-reads a:focus,
.suggested-reads a:hover {
    color: #505050;
    border-bottom-color: transparent;
    outline-width: 0;
}

.suggested-reads .suggested-reads__list-item__headline-text {
    display: inline;
    color: #333;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

.suggested-reads .suggested-reads__list-item__subheading {
    font-family: sans-serif;
    font-size: 13.05px;
    line-height: 17px;
    font-weight: 400;
    margin: 0;
    color: #505050;
}

@media (max-width: 769px) {

  .article__main .suggested-reads {
    padding: 15px 10px 3px 10px;
  }

  .article__main .suggested-reads__title {
    margin-left: 10px;
  }

  .article__main .suggested-reads__list {
    display: block;
  }

  .article__main .suggested-reads__list-item {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    border-right: none;
    margin-bottom: 18px;
  }

  .article__main .suggested-reads__list-item__headline {
    font-size: 16px;
    line-height: 1.2;
  }

  .article__main .suggested-reads__list-item__subheading {
    font-size: 12px;
    line-height: 1.25;
  }
}

/* temp override rail ad */
@media (min-width: 61.24em) {
  .advert--reserve-250,
  .o-ads--reserve-250 {
      height: unset;
  }
}
