@import 'o-grid/main';
@import 'o-colors/main';

@import './result-bars';
@import './state-results';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.ecresultslist { }

.ecresultslist__cell--dem {
    background-color: #579dd5;
}

.ecresultslist__cell--rep {
    background-color: #e03d46;
}

.o-typography-lead {
  font: 20px/1.4 Georgia, serif;
  color: #333333;
}
.article__main {
  margin-top: 1.6em;
}

.toss-up {
  float: right;
  background-color: #e9decf;
  border-radius: 3px;
  padding: 10px 10px 8px;
  color: #333333;
  font-size: 17px;
}

.toss-up-legend {
  width: 30px;
  height: 15px;
  margin-right: 4px;
}

.dot-map .toss-up-legend {
  border: 1px solid #a7a59b;
  background-color: #ffffff;
}

.plain-map .toss-up-legend {
  border: 1px solid #333333;
  background-color: #fff1e0;
}

.toss-up-legend,
.toss-up-label {
  display: inline-block;
}

.toss-up-label {
  position: relative;
  top: -2px;
}

.standard-map {
  display: none;
}

.ec-map {
  display: block;
}

.dot-map svg {
  position: relative;
  top: -20px;
}

.dot-map .article-figure__heading {
  margin-top: 0;
  margin-bottom: 0.3em;
}

.dot-map .article-figure__subheading {
  margin-top: 0;
}

.map__footnote {
  text-align: left;
  color: #777777;
  font-size: 14px;
  margin-top: 10px;
  display: block;
}

@media (max-width: 489px) {
  .article__main {
    margin-top: 0;
  }

  .o-typography-lead {
    font: 18px/1.4 Georgia, serif;
  }
}


@media (max-width: 739px) {
  .standard-map {
    display: block;
  }
  .ec-map {
    display: none;
  }
}

.result-bars {
  margin-bottom: 1.5em;
}

/* due to our wildcarding box-sizing
   we need to fix the ads slots
*/
.advert--reserve-90,
.advert--reserve-250,
.o-ads--reserve-90,
.o-ads--reserve-250 {
  box-sizing: content-box;
}

.house-bars .article-figure__heading {
  color: #333;
}
