@import 'o-grid/main';
@import 'o-colors/main';

.house-bars {
	margin-top: 100px;
}

.senate-bars {
	margin-bottom: 100px;
}

.president-bars {
	margin-top: 100px;
}

.dot-map {
	margin-bottom: 100px;
}


#state-results {
	margin-top: 100px;
}

footer {
	margin-top: 100px;
}