@import 'o-grid/main';
@import 'o-colors/main';

.house-bars {
	margin-top: 800px;
}

.senate-bars {
	margin-bottom: 800px;
}

#topthing {
	margin-top: 800px;
}

.dot-map {
	margin-bottom: 800px;
}


#state-results {
	margin-top: 800px;
}

footer {
	margin-top: 800px;
}

p.timestamp {
	text-align: right;
	margin-bottom: 1em;
	color: #9e2f50;
	font-family: Metric, sans-serif;
	font-size: 15px;
}