<style>
  #national-bar-wrapper {
    margin: 3em 0;
  }

  #national-bar-container {
    width: 100%;
    height: 20px;
    position: relative;
  }

  #national-270-line {
    position: absolute;
    width: 50%;
    height: 200%;
    border-right: 2px solid black;
    top: -50%;
  }

  #national-270-line:after {
    content: "270 to win";
    position: absolute;
    right: -30px;
    top: 45px;
    font-weight: 600;
  }

  .national-bar-container--subbars {
    display: inline-block;
    height: 100%;
    margin: 0;
    padding: 0;
    float: left;
    text-align: center;
  }

  #dem {
    background: #579dd5;
    width: {{ nationalBarCounts.dem * 100 / 538 }}%;
  }

  #leaning-dem {
    background: #a2c1e1;
    width: {{ nationalBarCounts.leaningDem * 100 / 538 }}%;
  }

  #swing {
    background: #fcc83c;
    width: {{ nationalBarCounts.swing * 100 / 538 }}%;
  }

  #nodata {
    background: #b0b0b0;
    width: {{ nationalBarCounts.nodata * 100 / 538 }}%;
  }

  #leaning-rep {
    background: #f4a098;
    width: {{ nationalBarCounts.leaningRep * 100 / 538 }}%;
  }

  #rep {
    background: #e03d46;
    width: {{ nationalBarCounts.rep * 100 / 538 }}%;
  }

  .national-bar-container--subbars:before {
    position: absolute;
    top: -20px;
  }

  #dem:before {
    content: "{{ nationalBarCounts.dem }}";
  }

  #leaning-dem:before {
    content: "{{ nationalBarCounts.leaningDem }}";
  }

  #swing:before {
    content: "{{ nationalBarCounts.swing }}";
  }

  #nodata:before {
    content: "{{ nationalBarCounts.nodata }}";
  }

  #leaning-rep:before {
    content: "{{ nationalBarCounts.leaningRep }}";
  }

  #rep:before {
    content: "{{ nationalBarCounts.rep }}";
  }
</style>

<div id="national-bar-wrapper">
  <div id="national-bar-container">
  <div id="national-270-line"></div>
    <div class="national-bar-container--subbars" id="dem"></div>
    <div class="national-bar-container--subbars" id="leaning-dem"></div>
    <div class="national-bar-container--subbars" id="swing"></div>
    <div class="national-bar-container--subbars" id="nodata"></div>
    <div class="national-bar-container--subbars" id="leaning-rep"></div>
    <div class="national-bar-container--subbars" id="rep"></div>
  </div>
</div>