<style>
  #national-bar-wrapper {
    margin: 3em 0;
  }

  #national-bar-wrapper * {
    box-sizing: border-box;
  }

  .national-bar--head-icons {
    width: 9%;
    display: inline-block;
    vertical-align: middle;
  }

  .national-bar--head-icons img {
    width: 100%;
  }

  #national-bar-container {
    width: 80%;
    height: 20px;
    position: relative;
    display: inline-block;
  }

  #national-270-line {
    position: absolute;
    width: 50%;
    height: 250%;
    border-right: 2px solid black;
    bottom: 0;
    z-index: 2;
  }

  #national-270-line:after {
    content: "270 to win";
    position: absolute;
    right: -30px;
    top: -20px;
    font-weight: 600;
  }

  .national-bar-container--subbars {
    display: inline-block;
    height: 100%;
    margin: 0;
    padding: 0;
    float: left;
    text-align: center;
    position: relative;
  }

  #national-bar-container--subbars--dem {
    background: #579dd5;
    width: {{ nationalBarCounts.dem * 100 / 538 }}%;
  }

  #national-bar-container--subbars--leaningDem {
    background: #a2c1e1;
    width: {{ nationalBarCounts.leaningDem * 100 / 538 }}%;
  }

  #national-bar-container--subbars--swing {
    background: #fcc83c;
    width: {{ nationalBarCounts.swing * 100 / 538 }}%;
  }

  #national-bar-container--subbars--nodata {
    background: #b0b0b0;
    width: {{ nationalBarCounts.nodata * 100 / 538 }}%;
  }

  #national-bar-container--subbars--leaningRep {
    background: #f4a098;
    width: {{ nationalBarCounts.leaningRep * 100 / 538 }}%;
  }

  #national-bar-container--subbars--rep {
    background: #e03d46;
    width: {{ nationalBarCounts.rep * 100 / 538 }}%;
  }

  .national-bar-container-values {
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
  }

  .national-bar-container-keys {
    position: absolute;
    top: 20px;
    left: 0;
    white-space: nowrap;
    width: 100%;
  }

  #national-bar-container--subbars--dem .national-bar-container-keys {
    color: #579dd5;
    text-align: left;
  }

  #national-bar-container--subbars--rep .national-bar-container-keys {
    color: #e03d46;
    text-align: right;
  }

  @media (max-width: 400px) {
    .national-bar--head-icons {
      display: none;
    }

    #national-bar-container {
      width: 100%;
    }
  }

</style>

<div id="national-bar-wrapper">
  <div class="national-bar--head-icons"><img src="images/clinton.png" /></div>
  <div id="national-bar-container">
  <div id="national-270-line"></div>
    {% for key, value in nationalBarCounts %}
    <div class="national-bar-container--subbars" id="national-bar-container--subbars--{{key}}">
      <span class="national-bar-container-values">{{value}}</span>
      {% if key == 'dem' %}
      <span class="national-bar-container-keys">Clinton</span>
      {% elif key == 'rep' %}
      <span class="national-bar-container-keys">Trump</span>
      {% elif key == 'swing' %}
      <span class="national-bar-container-keys">Too close to call</span>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  <div class="national-bar--head-icons"><img src="images/trump.png" /></div>
</div>