<style>
  #national-bar {
    margin: 3em 0;
  }

  #national-bar-wrapper {
    margin: 3em 0;
  }

  #national-bar-wrapper * {
    box-sizing: border-box;
  }

  .national-bar--head-icons {
    width: 9%;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: -16px;
  }

  .national-bar--head-icons img {
    width: 100%;
  }

  #national-bar-container {
    width: 80%;
    height: 20px;
    position: relative;
    display: inline-block;
  }

  #national-270-line {
    position: absolute;
    width: 50%;
    height: 250%;
    border-right: 2px solid black;
    bottom: 0;
    z-index: 2;
  }

  #national-270-line:after {
    content: "270 to win";
    position: absolute;
    right: -30px;
    top: -20px;
    font-weight: 600;
  }

  .national-bar-container--subbars {
    display: inline-block;
    height: 100%;
    margin: 0;
    padding: 0;
    float: left;
    text-align: center;
    position: relative;
  }

  #national-bar-container--subbars--dem {
    background: #579dd5;
    width: {{ nationalBarCounts.dem * 100 / 538 }}%;
  }

  #national-bar-container--subbars--leaningDem {
    background: #a2c1e1;
    width: {{ nationalBarCounts.leaningDem * 100 / 538 }}%;
  }

  #national-bar-container--subbars--swing {
    background: #fcc83c;
    width: {{ nationalBarCounts.swing * 100 / 538 }}%;
  }

  #national-bar-container--subbars--nodata {
    background: #b0b0b0;
    width: {{ nationalBarCounts.nodata * 100 / 538 }}%;
  }

  #national-bar-container--subbars--leaningRep {
    background: #f4a098;
    width: {{ nationalBarCounts.leaningRep * 100 / 538 }}%;
  }

  #national-bar-container--subbars--rep {
    background: #e03d46;
    width: {{ nationalBarCounts.rep * 100 / 538 }}%;
  }

  .national-bar-container-values {
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    font-size: 14px;
  }

  .national-bar-container-keys {
    position: absolute;
    top: 20px;
    left: 0;
    white-space: nowrap;
    width: 100%;
    font-weight: 600;
    line-height: 0.9em;
    margin-top: 0.3em;
  }

  #national-bar-container-keys--dem {
    color: #579dd5;
  }

  #national-bar-container-keys--rep {
    color: #e03d46;
    text-align: right;
  }

  .national-bar-container-keys--party {
    font-size: 14px;
    color: #666;
    font-weight: 400;
    margin-top: -2px;
  }

  .national-bar-container-group-sums {
    font-size: 2em;
    font-weight: 500;
    position: absolute;
    top: -63px;
  }

  #national-bar-container-group-sums--dem {
    color: #579dd5;
  }

  #national-bar-container-group-sums--rep {
    color: #e03d46;
    right: 0;
  }

  #national-bar-legend {
    text-align: center;
  }

  .national-bar-legend-item--grouped {
    display: inline-block;
  }

  .national-bar-legend-item {
    display: inline;
    margin-right: 16px;
  }

  #national-bar-legend-item--rep-solid {
    float: right;
    margin-left: 8px;
  }

  .national-bar-legend-block {
    width: 20px;
    height: 10px;
    display: inline-block;
    margin-right: 5px;
  }

  #national-bar-legend-item--dem-solid .national-bar-legend-block {
    background: #579dd5;
  }

  #national-bar-legend-item--dem-leaning .national-bar-legend-block {
    background: #a2c1e1;
  }

  #national-bar-legend-item--tossup .national-bar-legend-block {
    background: #fcc83c;
  }

  #national-bar-legend-item--rep-solid .national-bar-legend-block {
    background: #e03d46;
  }

  #national-bar-legend-item--rep-leaning .national-bar-legend-block {
    background: #f4a098;
  }

  @media (max-width: 580px) {
    #national-bar-wrapper {
      margin: 5em 0;
    }
  }

  @media (max-width: 480px) {
    .national-bar-legend-item {
      display: block;
      width: 100%;
      text-align: left;
    } 

    .national-bar-legend-item--grouped {
      display: inline-block;
      width: 32%;
      text-align: center;
      vertical-align: top;
    }  

    #national-bar-legend-item--rep-solid {
      float: none;
      margin-left: 0;
    } 
  }

  @media (max-width: 400px) {
    .national-bar--head-icons {
      display: none;
    }

    #national-bar-container {
      width: 100%;
    }

    .national-bar-container-group-sums {
      top: 54px;
    }

    #national-bar-legend {
      margin-top: 80px;
    }
  }

</style>

<div id="national-bar">
  <h2>Who would win if the election were held today?</h2>
  <p>The latest polls suggest that the electoral college outcome {% if nationalBarCounts.dem + nationalBarCounts.leaningDem > 270 %}would be in Hillary Clinton's favour{% elif nationalBarCounts.rep + nationalBarCounts.leaningRep > 270 %}would be in Donald Trump's favour{% else %}is too close to call{% endif %}.</p>
  <div id="national-bar-wrapper">
    <div class="national-bar--head-icons" id="national-bar--head-icons-dem"><img src="images/clinton.png" /></div>
    <div id="national-bar-container">
      <div id="national-270-line"></div>
      <span class="national-bar-container-keys" id="national-bar-container-keys--dem">Clinton<br /><span class="national-bar-container-keys--party">Democrat</span></span>
      <div class="national-bar-container-group-sums" id="national-bar-container-group-sums--dem">{{nationalBarCounts.dem + nationalBarCounts.leaningDem}}</div>
      {% for key, value in nationalBarCounts %}
      <div class="national-bar-container--subbars" id="national-bar-container--subbars--{{key}}">
        <span class="national-bar-container-values">{{value}}</span>
      </div>
      {% endfor %}
      <span class="national-bar-container-keys" id="national-bar-container-keys--rep">Trump<br /><span class="national-bar-container-keys--party">Republican</span></span>
      <div class="national-bar-container-group-sums" id="national-bar-container-group-sums--rep">{{nationalBarCounts.rep + nationalBarCounts.leaningRep}}</div>
    </div>
    <div class="national-bar--head-icons" id="national-bar--head-icons-rep"><img src="images/trump.png" /></div>
  </div>
  <div id="national-bar-legend">
    <div class="national-bar-legend-item--grouped">
      <div class="national-bar-legend-item" id="national-bar-legend-item--dem-solid">
        <span class="national-bar-legend-block"></span>
        <span class="national-bar-legend-label">Solid</span>
      </div>
      <div class="national-bar-legend-item" id="national-bar-legend-item--dem-leaning">
        <span class="national-bar-legend-block"></span>
        <span class="national-bar-legend-label">Leaning</span>
      </div>
    </div>
    <div class="national-bar-legend-item--grouped">
      <div class="national-bar-legend-item" id="national-bar-legend-item--tossup">
        <span class="national-bar-legend-block"></span>
        <span class="national-bar-legend-label">Toss-up</span>
      </div>
    </div>
    <div class="national-bar-legend-item--grouped">
      <div class="national-bar-legend-item" id="national-bar-legend-item--rep-solid">
        <span class="national-bar-legend-block"></span>
        <span class="national-bar-legend-label">Solid</span>
      </div>
      <div class="national-bar-legend-item" id="national-bar-legend-item--rep-leaning">
        <span class="national-bar-legend-block"></span>
        <span class="national-bar-legend-label">Leaning</span>
      </div>
    </div>
  </div>
  <p class="source"><small>Electoral college votes shown above are based on state polling averages.</small></p>

  <br />
  <p>A candidate needs at least 270 electoral votes to win the race to the White House. The two candidates will be paying attention to toss-up states in the run-up to Election Day on November 8.</p>
</div>