<style>
#statelist table {
  border-collapse: collapse; 
}

#statelist td {
  padding: 0.25em 10px;
}

#statelist tr {
  border-bottom: 1px solid #cec6b9;
}

#statelist .minimap {
  fill: #EADECF;
  stroke: #fff1e0;
  stroke-width: 0.25px;
}

#statelist .statelist-minimap-background {
  stroke: #fff1e0;
  stroke-width: 0.25px;
}

{% for state, stateData in stateCounts %}

#statelist .statelist-staterow-{{state | lower }} .statelist-minimap-highlight-{{state | lower }} {
  fill: #5d493b;
  stroke: #5d493b;
  {% if state in ['CT', 'DC', 'DE', 'HI', 'RI', 'MD', 'NJ', 'NH', 'VT'] %}  
  stroke-width: 3px;
  {% endif %}
}

{% endfor %}

.statelist-catLabel {
  color: white;
  margin-top: 0.2em;
}

.statelist-catLabel:before {
  padding: 0.1em 0.5em;
}

.statelist-dem .statelist-catLabel:before {
  background: {{ color.dem }};
  content: "Solid Dem.";
}

.statelist-leaningDem .statelist-catLabel:before {
  background: {{ color.leaningDem }};
  content: "Leaning Dem.";
}

.statelist-swing .statelist-catLabel:before {
  background: {{ color.swing }};
  content: "Toss-up";
  color: black;
}

.statelist-rep .statelist-catLabel:before {
  background: {{ color.rep }};
  content: "Solid Rep.";
}

.statelist-leaningRep .statelist-catLabel:before {
  background: {{ color.leaningRep }};
  content: "Leaning Rep.";
}


.statelist-nodata {
  color: #666;
}


.statelist-dem .statelist-pollmargin {
  color: {{ color.dem }};
}

.statelist-leaningDem .statelist-pollmargin {
  color: {{ color.dem }};
}

.statelist-swing .statelist-pollmargin {
  color: {{ color.swing }};
}

.statelist-rep .statelist-pollmargin {
  color: {{ color.rep }};
}

.statelist-leaningRep .statelist-pollmargin {
  color: {{ color.rep }};
}

</style>

<div id="statelist">
  <h2>State polls</h2>
  {% set row_num_collapse = 10 %}
  <div data-o-component="o-expander" class="o-expander items"
    data-o-expander-collapsed-toggle-text="Show more states"
    data-o-expander-expanded-toggle-text="Show fewer states"
    data-o-expander-toggle-selector=".table-toggle-btn"
    data-o-expander-shrink-to="{{ row_num_collapse }}"
    data-o-expander-count-selector="tbody tr">
    <table>
    <thead>
      <tr>
        <th></th>
        <th>State</th>
        <th>Poll margin</th>
        <th>Electoral college votes</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="o-expander__content">
      {% for stateRow in stateCounts | orderStatesByImportance %}
      {% set state = stateRow[0] %}
      {% set stateData = stateRow[1] %}
      <tr class="statelist-{{ stateData.margin | getClassificationFromMargin }} statelist-staterow-{{ state | lower }}">
        <td class="statelist-map">
          {% include "minimap.svg" %}
        </td>
        <td class="statelist-state">
          {{ state | toStateName }}
          <div class="statelist-catLabel"></div>
        </td>
        <td class="statelist-pollmargin">
          {% if stateData.Clinton == null %}
          <span class="statelist-nodata">No poll data available</span>
          {% else %}
            <b>+{{ stateData.margin | round1dp | replace('-', '') }}</b>
            {% if stateData.margin > 0 %}
            Clinton
            {% else %}
            Trump
            {% endif %}
          {% endif %}
        </td>
        <td class="statelist-ecvotes">{{ stateData.ecVotes }}</td>
        <td class="statelist-navbutton"><a href="./{{ state | lower }}"><button>></button></a></td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
    <button class="table-toggle-btn o--if-js o-buttons o-buttons--uncolored o-buttons--big">Show more states</button>
    <p class="source"><small>Source: Real Clear Politics</small></p>
  </div>
</div>