<style>
#statelist {
  max-width: 478px;
  margin: 0 auto;
}

#statelist table {
  border-collapse: collapse; 
}

#statelist th {
  text-align: left;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.9em;
  vertical-align: bottom;
  padding-bottom: 0.3em;
}

#statelist th.statelist-state {
  padding-left: 0;
}

#statelist td {
  padding: 0.25em 10px;
  position: relative;
}

#statelist .statelist-ecvotes {
  width: 100px;
  text-align: center;
}

#statelist tr {
  border-bottom: 1px solid #cec6b9;
}

#statelist tr.statelist-staterow:hover {
  background: #f6e9d8;
}

#statelist tr.statelist-staterow:hover .statelist-stateLabel {
  text-decoration: underline;
}

.statelist-catLabel {
  color: white;
  width: 20px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.statelist-stateLabel {
  margin-left: 25px;
  color: #333;
}

.statelist-dem .statelist-catLabel {
  background: {{ color.dem }};
}

.statelist-leaningDem .statelist-catLabel {
  background: {{ color.leaningDem }};
}

.statelist-swing .statelist-catLabel {
  background: {{ color.swing }};
}

.statelist-rep .statelist-catLabel {
  background: {{ color.rep }};
}

.statelist-leaningRep .statelist-catLabel {
  background: {{ color.leaningRep }};
}


.statelist-nodata {
  color: #666;
}

</style>

<div id="statelist">
  <h2>State polls</h2>
  {% set row_num_collapse = 10 %}
  <div data-o-component="o-expander" class="o-expander items"
    data-o-expander-collapsed-toggle-text="Show more states"
    data-o-expander-expanded-toggle-text="Show fewer states"
    data-o-expander-toggle-selector=".table-toggle-btn"
    data-o-expander-shrink-to="{{ row_num_collapse }}"
    data-o-expander-count-selector="tbody tr">
    <table>
    <thead>
      <tr>
        <th class="statelist-state">State</th>
        <th class="statelist-pollmargin">Poll margin</th>
        <th class="statelist-ecvotes">Electoral college votes</th>
      </tr>
    </thead>
    <tbody class="o-expander__content">
      {% for stateRow in stateCounts | orderStatesByImportance %}
      {% set state = stateRow[0] %}
      {% set stateData = stateRow[1] %}
      <tr class="statelist-staterow statelist-{{ stateData.margin | getClassificationFromMargin }} statelist-staterow-{{ state | lower }}">
        <td class="statelist-state">
          <div class="statelist-catLabel"></div>
          <a href="./{{state | lower }}"><div class="statelist-stateLabel">{{ state | toStateName }}</div></a>
        </td>
        <td class="statelist-pollmargin">
          {% if stateData.Clinton == null %}
          <span class="statelist-nodata">No poll data available</span>
          {% else %}
            {% if stateData.margin > 0 %}
            Clinton
            {% else %}
            Trump
            {% endif %}
            +{{ stateData.margin | round1dp | replace('-', '') }}
          {% endif %}
        </td>
        <td class="statelist-ecvotes">{{ stateData.ecVotes }}</td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
    <button class="table-toggle-btn o--if-js o-buttons o-buttons--uncolored o-buttons--big">Show more states</button>
    <p class="source"><small>Source: Real Clear Politics</small></p>
  </div>
</div>