{# "who won here" template for state pages #}

<div class="article-figure">
  <h2 class="article-figure__heading--state-winners-table">
    Past presidential races in this state
  </h2>
  <!-- <p class="article-figure__subheading">
    {{ stateName }} presidential winner's margin of victory, popular vote (% points)
  </p> -->

  {% if historicalResults %}
  <table class="state-winners-table">
    <thead>
      <tr>
        <th class="state-winners-table__empty"></th>
        <th colspan="2">
          {{ stateName }}
        </th>
        <th colspan="2">
          National
        </th>
      </tr>
    </thead>
    <tbody>
      {% for row in historicalResults %}
      <tr>
        <td class="state-winners-table__year">
          <strong>{{ row.year }}</strong>
        </td>

        <td class="state-winners-table__state-winner">
          {{ row.winnerState }}
        </td>

        <td class="state-winners-table__winning-pct-state">
          <div style="width: {{ row.winningPctScaledState }}%" class="state-winners-table__winning-pct-bar {{row.stateWinnerColor}}"></div>
          {{row.winningPctState | round(1)}}%
        </td>

        <td class="state-winners-table__federal-winner">
          {{ row.winnerFederal }}
        </td>

        <td class="state-winners-table__winning-pct-federal">
          <div style="width: {{ row.winningPctScaledFederal }}%" class="state-winners-table__winning-pct-bar {{row.federalWinnerColor}}"></div>
          {{row.winningPctFederal | round(1)}}%
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  <!-- <p class="source"><small>Source: countingthevotes.com</small></p> -->
</div>
