{# "who won here" template for state pages #}

<div class="article-figure">
  <h2 class="article-figure__heading--state-winners-table">
    Who won past presidential races in {{ state.name }}?
  </h2>

  {% if historicalResults %}
  <table class="state-winners-table">
    <thead>
      <tr class="state-winners-table__primary-header">
        <th class="state-winners-table__empty"></th>
        <th colspan="3">
          {{ state.name }}
        </th>
        <th colspan="3">
          National
        </th>
      </tr>

      <tr class="state-winners-table__secondary-header">
        <th class="state-winners-table__year">
          Year
        </th>
        <th colspan="3">
          Margin of victory (pts)
        </th>
        <th colspan="3">
          Margin of victory (pts)
        </th>
      </tr>
    </thead>
    <tbody>
      {% for row in historicalResults %}
      <tr>
        <td class="state-winners-table__year">
          {{ row.year }}
        </td>

        <td class="state-winners-table__state-winner {{row.stateWinnerColor}}">
          {{ row.winnerState }}
        </td>

        <td class="state-winners-table__winning-pct-state">
          <div style="width: {{ row.winningPctScaledState }}%" class="state-winners-table__winning-pct-bar {{row.stateWinnerColor}}"></div>
        </td>

        <td class="state-winners-table__winning-pct-state-figure">
          {{row.winningPctState | round(1)}}%
        </td>

        <td class="state-winners-table__federal-winner {{row.federalWinnerColor}}">
          {{ row.winnerFederal }}
        </td>

        <td class="state-winners-table__winning-pct-federal">
          <div style="width: {{ row.winningPctScaledFederal }}%" class="state-winners-table__winning-pct-bar {{row.federalWinnerColor}}"></div>
        </td>

        <td class="state-winners-table__winning-pct-federal-figure">
          {{row.winningPctFederal | round(1)}}%
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

</div>
