{% macro ECBreakdown(layout) %}
<div>
  {% if layout.title %}
  <div class="o-grid-container">
    <div class="o-grid-row">
      <h2 class="article-figure__heading">{{ layout.title }}</h2>
    </div>
  </div>
  {% endif %}

  <div class="o-grid-container o-grid-container--bleed ec-breakdown-container">
    <div class="o-grid-row o-grid-row--compact">
      {% for group in layout.order %}
      <div data-o-grid-colspan="12 S2" class="ec-breakdown-column {{ layout.groupNames[group] }}">
        <div class="o-grid-container o-grid-container--bleed" style="min-width:0;">
        <div class="o-grid-row o-grid-row--compact ec-breakdown-row ec-breakdown-header">{{ layout.groupNames[group] }}&nbsp;({{ layout.groupTotals[group] }})</div>
        {% for state in layout.stateGroups[group] %}
          <a href="{{ state.code | statePollPageURL }}" class="o-grid-row o-grid-row--compact ec-breakdown-row">
              <div data-o-grid-colspan="2 S4 M3 L4" class="ec-breakdown-statelabel">
              {{ state.code | stateShortname({'NH': 'N.Ham', 'RI': 'Rh.Isl', 'WV': 'W.Va', 'SC': 'S.Car', 'MD': 'Maryl', 'VT': 'Verm', 'IL': 'Illin', 'VA': 'Virg', 'NM': 'N.Mex', 'FL': 'Flori', 'MT': 'Mont', 'KY': 'Ken', 'LA': 'Louis', 'ND': 'N.Dak', 'SD': 'S.Dak', 'MO': 'Misso', 'MS': 'Missi', 'IN': 'Indi', 'HI': 'Haw', 'AK': 'Alask', 'AL': 'Alab', 'MECD1': 'ME(1)', 'MECD': 'ME(2)', 'NECD1': 'Neb(1)', 'NECD2': 'Neb(2)', 'NECD3': 'Neb(3)'}) }}
              </div>
              <div data-o-grid-colspan="10 S8 M9 L8" class="ec-breakdown-bar-container">
                <div style="width:{{ state.barPct }}%; background-color:{{ color[group] }};" class="ec-breakdown-bar">

                </div>
                <div class="ec-breakdown-bar-label{% if state.code == 'CA' %} ec-breakdown-bar-label--wob{% endif%}">{{ state.ecVotes }}</div>
              </div>
          </a>
        {% endfor %}
      </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="ec-breakdown-footnote">States where the difference in poll numbers between Clinton and Trump is less than 5% are classed as 'toss-up' states, those with a difference of over 10% are classed as 'solid'. <a href="{{ 'ME' | statePollPageURL }}">Maine (ME)</a> and <a href="{{ 'NE' | statePollPageURL }}">Nebraska</a> use the <a href="#methodology">congressional district method</a> in which the winner of each district takes that district’s electoral vote. </div>
</div>
{% endmacro %}

{# test layout #}
<html>
    <head>
        <tite> {{ title }} </tite>

<link rel="stylesheet" href="https://origami-build.ft.com/v2/bundles/css?modules=o-grid@^4.2.1">
<link rel="stylesheet" href="g-ui/main.css">
<link rel="stylesheet" href="main.css">
    </head>
    <body>
        <main role="main">
        <article class="article" itemscope itemtype="http://schema.org/Article">
        <div>
        {{ECBreakdown(layout)}}
        </div>
    </body>
</html>
