{{ ancestorSelector }} .ec-forecast-component {
	font-family: MetricWeb, sans-serif;
	font-size: 16px;
	position: relative;
}

{{ ancestorSelector }} .ec-forecast-component__link {
	display: block;
	color: #333;
	border-bottom: 0;
}

{{ ancestorSelector }} .ec-forecast-component__title {
	font: 400 21px MetricWeb, sans-serif;
	margin: 0;
}

{{ ancestorSelector }} .ec-forecast-component__subtitle {
	font: 400 16px MetricWeb, sans-serif;
	margin: 5px 0 0 0;
	color: #555;
}

{{ ancestorSelector }} .ec-forecast-component__chart {
	width: 100%;
	height: 32px;
	margin-top: 30px;
}

{{ ancestorSelector }} .ec-forecast-component__chart:before,
{{ ancestorSelector }} .ec-forecast-component__chart:after {
  content: '';
  display: table;
}

{{ ancestorSelector }} .ec-forecast-component__chart:after {
  clear: both;
}

{{ ancestorSelector }} .ec-forecast-component__bar {
	display: inline-block;
	height: 32px;
	font-size: 18px;
	line-height: 32px;
	margin: 0;
	float: left;
	position: relative;
	box-sizing: border-box;
	color: #fff;
	font-weight: bold;
}

{{ ancestorSelector }} .ec-forecast-component__bar--clinton {
	background-color: {{ color.dem }};
	width: {{ proportion.totalDem }}%;
	padding-left: 5px;
}

{{ ancestorSelector }} .ec-forecast-component__bar--tossup {
	background-color: {{ color.swing }};
	width: {{ proportion.swing }}%;
}

{{ ancestorSelector }} .ec-forecast-component__bar--trump {
	background-color: {{ color.rep }};
	width: {{ proportion.totalRep }}%;
	text-align: right;
	padding-right: 5px;
}

{{ ancestorSelector }} .ec-forecast-component__label {
	display: inline-block;
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	font-size: 14px;
	font-weight: 300;
	color: #777;
}

{{ ancestorSelector }} .ec-forecast-component__label--clinton {
	/*color: {{ color.darkDem }};*/
	width: {{ proportion.totalDem }}%;
	text-transform: uppercase;
}

{{ ancestorSelector }} .ec-forecast-component__label--tossup {
	/*color: {{ color.darkSwing }};*/
	width: {{ proportion.swing }}%;
	text-align: center;
}

{{ ancestorSelector }} .ec-forecast-component__label--trump {
	/*color: {{ color.darkRep }};*/
	width: {{ proportion.totalRep }}%;
	text-align: right;
	text-transform: uppercase;
}

{{ ancestorSelector }} .ec-forecast-component__marker {
	position: absolute;
	left: 50%;
	height: 32px;
	width: 1px;
	background: #666;
	z-index: 2;
	margin-left: -1.5px;
}

{{ ancestorSelector }} .ec-forecast-component__marker-label {
	width: 80px;
	text-align: center;
	position: relative;
	height: 23px;
	top: -23px;
	left: -40px;
	font-size: 14px;
	line-height: 14px;
	color: #777;
}

{{ ancestorSelector }} .ec-forecast-component__marker-label:after {
	/* triangle */
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 6px 0 6px;
	border-color: #333 transparent transparent transparent;
	position: absolute;
	left: 50%;
	margin-left: -5px;
	transform: translateX(-0.5px);
	bottom: -1px;
}

{{ ancestorSelector }} .ec-forecast-component__footer {
	clear: both;
	padding-top: 7px;
	display: flex;
	flex-wrap: wrap;
}

{{ ancestorSelector }} .ec-forecast-component__source {
	font-size: 14px;
	line-height: 28px;
	color: #999;
	min-width: 80px;
	margin-right: 10px;
}

{{ ancestorSelector }} .ec-forecast-component__source > span {
	line-height: 16px;
	display: inline-block;
}

{{ ancestorSelector }} .ec-forecast-component__faux-link {
	font-size: 14px;
	line-height: 28px;
	color: #27757b;
	font-weight: bold;
	text-align: right;
	white-space: nowrap;
	flex: 1 1 auto;
	position: relative;
}

{{ ancestorSelector }} .ec-forecast-component__link:hover .ec-forecast-component__faux-link {
	color: #333;
}

{{ ancestorSelector }} .ec-forecast-component__faux-link:after {
	content: '';
	display: inline-block;
	width: 14px;
	height: 14px;
	position: relative;
	top: 3px;

	background-image: url('//image.webservices.ft.com/v1/images/raw/fticon:arrow-right?width=100&format=png&source=ig&tint=%2327757b,%2327757b');

	background-image: url('//image.webservices.ft.com/v1/images/raw/fticon:arrow-right?format=svg&source=ig&tint=%2327757b,%2327757b'), none;
	background-size: cover;
}

{{ ancestorSelector }} .ec-forecast-component__link:hover .ec-forecast-component__faux-link:after {
	background-image: url('//image.webservices.ft.com/v1/images/raw/fticon:arrow-right?width=100&format=png&source=ig&tint=%23333333,%23333333');
	background-image: url('//image.webservices.ft.com/v1/images/raw/fticon:arrow-right?format=svg&source=ig&tint=%23333333,%23333333'), none;
}
