{% macro Render(data, showKey=true, on=true) %}
{% if on %}
<div id="national-bar">
  <div id="national-bar-wrapper">
    <div class="heads-container">
      <div class="clinton-container">
        <div class="national-bar--head-icons" id="national-bar--head-icons-dem"><img src="https://image.webservices.ft.com/v1/images/raw/https:%2F%2Fig.ft.com%2Fstatic%2Fus-election-2016%2Fclinton.png?source=ig&format=png&quality=lowest" /></div>
          <div class="votes-container votes-container--dem">
            <span class="national-bar-container-keys" id="national-bar-container-keys--dem">Clinton</span>
            <div class="national-bar-container-group-sums" id="national-bar-container-group-sums--dem">{{data.dem + data.leaningDem if data.leaningDem else data.dem }}</div>
            </div>
        </div>
      <div class="trump-container">
        <div class="votes-container votes-container--rep">
          <span class="national-bar-container-keys" id="national-bar-container-keys--rep">Trump</span>
          <div class="national-bar-container-group-sums" id="national-bar-container-group-sums--rep">{{data.rep + data.leaningRep if data.leaningRep else data.rep}}</div>
        </div>
        <div class="national-bar--head-icons" id="national-bar--head-icons-rep"><img src="https://image.webservices.ft.com/v1/images/raw/https:%2F%2Fig.ft.com%2Fstatic%2Fus-election-2016%2Ftrump.png?source=ig&format=png&quality=lowest" /></div>
      </div>
    </div>
    <div id="national-bar-container">
      <div id="national-270-line"></div>
      {% for key, value in data %}
      <div class="national-bar-container--subbars" style="background-color:{{ color[key] }};width:{{ value * 100 / 538 }}%;">
        <span class="national-bar-container-values">{{value}}</span>
      </div>
      {% endfor %}
    </div>

  </div>
  {% if showKey %}
  <div id="national-bar-legend">
    <div class="national-bar-legend-item--grouped">
      <div class="national-bar-legend-item">
        <span style="background-color:{{ color.dem }};" class="national-bar-legend-block"></span>
        <span class="national-bar-legend-label">Solid</span>
      </div>
      <div class="national-bar-legend-item">
        <span style="background-color:{{ color.leaningDem }};" class="national-bar-legend-block"></span>
        <span class="national-bar-legend-label">Leaning</span>
      </div>
    </div>
    <div class="national-bar-legend-item--grouped">
      <div class="national-bar-legend-item">
        <span style="background-color:{{ color.swing }};" class="national-bar-legend-block"></span>
        <span class="national-bar-legend-label">Toss-up</span>
      </div>
    </div>
    <div class="national-bar-legend-item--grouped">
      <div class="national-bar-legend-item" id="national-bar-legend-item--rep-solid">
        <span style="background-color:{{ color.rep }};" class="national-bar-legend-block"></span>
        <span class="national-bar-legend-label">Solid</span>
      </div>
      <div class="national-bar-legend-item">
        <span style="background-color:{{ color.leaningRep }};" class="national-bar-legend-block"></span>
        <span class="national-bar-legend-label">Leaning</span>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endif %}
{% endmacro %}
