{% extends "g-ui/layout/article" %}

{% import "page-elements.html" as PageElements -%}

{% set layout = {name: 'left-body'} %}
{% set stylesheets = ['https://origami-build.ft.com/v2/bundles/css?modules=o-expander@^4.0.2,o-buttons@^4.0.2'] %}
{% set scripts = ['https://origami-build.ft.com/v2/bundles/js?modules=o-expander@^4.0.2,o-buttons@^4.0.2&export=bundle'] %}

{% block article_body %}

  <nav class="nav___mobile-nav{{ ' page__national' if code == 'us' }}">
    <button
      type="button"
      name="button"
      class="nav___mobile-nav--back-to-overview o-buttons o-buttons--uncolored o-buttons--big">
      <i class="o-icons-icon o-icons-icon--arrow-left"></i>
      <span class="dotted-underline">
        National polling
      </span>
    </button>

    <button
      type="button"
      name="button"
      class="o-buttons o-buttons--standout o-buttons--big nav___mobile-nav--choose-state">
      Choose state
    </button>
  </nav>

  <div class="o-grid-container{{ ' page__national' if code == 'us' }}">
    <div class="o-grid-row">
      <div data-o-grid-colspan="12 L8 XL7 XLoffset1">
        <div class="o-typography-body-wrapper" itemprop="articleBody">
        {% block content %}{% endblock %}
        <div class="source" id="methodology">
          {% markdown %}
          Methodology: The FT poll tracker is based on [Real Clear Politics](http://www.realclearpolitics.com/epolls/2016/president/us/general_election_trump_vs_clinton-5491.html) (RCP) data and updates at least five times a day as polls are added by RCP staff.

          The poll tracker is based on a four-way race, which includes Democratic candidate Hillary Clinton, Republican candidate Donald Trump, Libertarian candidate Gary Johnson and Green Party candidate Jill Stein. In states where Stein is not on the ballot (Nevada, Oklahoma and South Dakota), a three-way polling average is used.

          A state is considered ‘solid’ if the difference in polling averages between two candidates is above 10 per cent; ‘leaning’ if it is between 10 and 5 per cent; and a ‘toss-up’ if it falls below 5 per cent.

          Most states use a ‘winner-take-all’ method of electoral college vote allocation. [Maine](maine-polls) and [Nebraska](nebraska-polls), however, use an alternative method called the congressional district method in which the state is divided into congressional districts and the winner of each district takes that district’s electoral vote. The winner of the statewide vote is awarded two electoral votes.
          {% endmarkdown %}

          <p style="font-style: italic;">Sources: Real Clear Politics, The Green Papers, US Census Bureau, Bureau of Labor Statistics, Bureau of Economic Analysis</p>
        </div>
        </div>
      </div>
      <div class="article__aside o-grid-remove-gutters--XL" data-o-grid-colspan="hide L4 XL3 XLoffset1" role="complementary" aria-hidden="true">
        {% include "rail.html" %}
      </div>
    </div>
  </div>

{% endblock %}
