{% extends "polls-layout.html" %}

{% from 'includes/forecast-map-macro.svg' import ForecastMap %}
{% from 'ec-breakdown.html' import ECBreakdown %}
{% from 'latest-news.html' import Block as LatestNews %}
{% from 'electoral-college-bar.html' import Render as ElectoralCollegeBar %}
{% from 'state-list.html' import Render as StateList %}
{% import 'polling-history.html' as PollingHistory %}
{% import "g-ui/ads" as Ads -%}

{% set tossups = stateCounts | orderStatesByImportance %}

{% block content %}

{% markdown %}

{% if daysToElection < 0 %}<!-- post-election period -->
This page shows how the polls stood on the day of the [2016 US presidential election](https://www.ft.com/us-election-2016), before the [full results](https://ig.ft.com/us-elections/results) were known.
{%- else -%}<!-- pre-election period -->
{% if daysToElection = 0 %}It is election day in the United States. {%- endif -%}Democratic candidate Hillary Clinton and Republican candidate Donald Trump need 270 electoral college votes to win the presidency.
{% if daysToElection > 0 %}With less than one week left until the election on November 8,&nbsp;{%- endif -%}
{%- if nationalBarCounts.dem + nationalBarCounts.leaningDem > 270 -%}
Mrs Clinton is leading the race
{%- elif nationalBarCounts.rep + nationalBarCounts.leaningRep > 270 -%}
Mr Trump is leading the race
{%- else -%}
the race remains close
{%- endif -%}. {% if daysToElection = 0 %}The first results are expected at around 7pm eastern time; all eyes will be on results from {%- else -%}Both candidates will be paying attention to {%- endif -%}toss-up states such as <a href="{{ tossups[0] | statePollPageURL }}">{{ tossups[0].fullname }}</a>, <a href="{{ tossups[1] | statePollPageURL }}">{{ tossups[1].fullname }}</a> and <a href="{{ tossups[2] | statePollPageURL }}">{{ tossups[2].fullname }}</a>.

<!-- election period -->{%- endif -%}

* Subscribe to the [FT White House Countdown](http://nbe.ft.com/nbe/profile.cfm?whitehouse=yes) newsletter for daily updates on the election.

{% endmarkdown %}

{% call PageElements.Figure(title="Latest prediction", subtitle="Electoral college votes") %}
  {{
    ElectoralCollegeBar(
      data=nationalBarCounts,
      showKey=true,
      on=flags.nationalBar
    )
  }}
  {{ ECBreakdown(ecBreakdownLayout) }}
{% endcall %}

{{
  StateList(
    stateCounts=stateCounts,
    on=flags.stateList,
    nationalBarCounts=nationalBarCounts
  )
}}

{{
  LatestNews(
    body=latestNews | default('[Hillary Clinton](https://www.ft.com/stream/peopleId/TnN0ZWluX1BOX0FGVE1fUE5fMzgwODQ2-UE4=) will face [Donald Trump](https://www.ft.com/stream/peopleId/TnN0ZWluX1BOXzIwMDkwNjIzXzE2MTY=-UE4=) in the [2016 US election](https://www.ft.com/us-election-2016).', true),
    linkText="All US Election 2016 coverage",
    linkUrl=topic.url
  )
}}

{{ Ads.MidContent(on=false) }}

{% set racestring = 'four' %}
{% if pollHistory.pollnumcandidates == 3 %}{% set racestring = 'three' %}{% endif %}
{{
  PollingHistory.LineChart(
    statename="US",
    title="Who is leading in national opinion polls?",
    subtitle="National polling average based on " + racestring + "-way race (%)",
    svgs=pollHistory.lineCharts,
    latestPollAverages=pollHistory.latestAverages
  )
}}

{{
  PollingHistory.Table(
    subtitle="All national opinion polls",
    list=pollHistory.list
  )
}}

{% endblock %}
