{% extends "polls-layout.html" %}

{% from 'includes/forecast-map-macro.svg' import ForecastMap %}
{% from 'ec-breakdown.html' import ECBreakdown %}
{% from 'latest-news.html' import Block as LatestNews %}
{% from 'electoral-college-bar.html' import Render as ElectoralCollegeBar %}
{% from 'state-list.html' import Render as StateList %}
{% import 'polling-history.html' as PollingHistory %}
{% import "g-ui/ads" as Ads -%}

{% set tossups = stateCounts | orderStatesByImportance | filterByEcVote(3) %}

{% block content %}

<!-- 
<p>This page shows how the polls stood on the day of the <a href="https://www.ft.com/us-election-2016">2016 US presidential election</a> before the <a href="https://ig.ft.com/us-elections/results">full results</a> were known.</p>
-->

 <p>Americans are voting today in one of the most divisive <a href="https://www.ft.com/us-election-2016">presidential elections</a> in history. Polls have already closed in some states. See the <a href="https://www.ft.com/us-election-night-guideft.com">FT&rsquo;s guide to election night</a> for what to expect over the next few hours.</p>

<p>Our <a href="http://blogs.ft.com/the-world/liveblogs/2016-11-08/">live blog</a> and <a href="https://ig.ft.com/us-elections/results">results map</a> will have the results as they come in. Use our <a href="#statelist">electoral college calculator</a> below to work out the possible paths to victory for Hillary Clinton and Donald Trump.</p>


{% call PageElements.Figure(title="Latest prediction", subtitle="Electoral college votes") %}
  {{
    ElectoralCollegeBar(
      data=nationalBarCounts,
      showKey=true,
      on=flags.nationalBar
    )
  }}
  {{ ECBreakdown(ecBreakdownLayout) }}
{% endcall %}

{{
  StateList(
    stateCounts=stateCounts,
    on=flags.stateList,
    nationalBarCounts=nationalBarCounts
  )
}}

{{
  LatestNews(
    body=latestNews | default('[Hillary Clinton](https://www.ft.com/stream/peopleId/TnN0ZWluX1BOX0FGVE1fUE5fMzgwODQ2-UE4=) will face [Donald Trump](https://www.ft.com/stream/peopleId/TnN0ZWluX1BOXzIwMDkwNjIzXzE2MTY=-UE4=) in the [2016 US election](https://www.ft.com/us-election-2016).', true),
    linkText="All US Election 2016 coverage",
    linkUrl=topic.url
  )
}}

{{ Ads.MidContent(on=false) }}

{% set racestring = 'four' %}
{% if pollHistory.pollnumcandidates == 3 %}{% set racestring = 'three' %}{% endif %}
{{
  PollingHistory.LineChart(
    statename="US",
    title="Who is leading in national opinion polls?",
    subtitle="National polling average based on " + racestring + "-way race (%)",
    svgs=pollHistory.lineCharts,
    latestPollAverages=pollHistory.latestAverages
  )
}}

{{
  PollingHistory.Table(
    subtitle="All national opinion polls",
    list=pollHistory.list
  )
}}

{% endblock %}
