{% macro Figure(title, subtitle, source, note, id) %}
<div class="article-figure" {% if id %}id="{{ id }}"{% endif %}>
  {% if title %}
  <h2 class="article-figure__heading">{{ title | md(true) }}</h2>
  {% endif %}
  {% if subtitle %}
  <p class="article-figure__subheading">{{ subtitle | md(true) }}</p>
  {% endif %}
  <div class="article-figure__content">
  {{ caller() }}
  </div>
  {% if source %}
  <p class="article-figure__source source">{{ source | md(true) }}</p>
  {% endif %}
  {% if source %}
  <div class="article-figure__note note">{{ note | md }}</div>
  {% endif %}
</div>
{% endmacro %}

{% macro SuggestedReads(title, items) %}
{% if items and items.length %}
<div class="suggested-reads">
  {% if title %}
  <h3 class="suggested-reads__title">{{ title }}</h3>
  {% endif %}
  <div class="suggested-reads__list">
  {% for item in items %}
    <article class="suggested-reads__list-item">
    <a href="https://www.ft.com/content/{{ item.id }}" class="suggested-reads__list-item__headline">
      <h4 class="suggested-reads__list-item__headline-text">{{ item.title }}</h4>
    </a>
    {% if item.subheading %}
    <p class="suggested-reads__list-item__subheading">{{ item.subheading }}</p>
    </article>
    {% endif %}
  {% endfor %}
  </div>
</div>
{% endif %}
{% endmacro %}
