{% import "page-elements.html" as PageElements -%}

{% macro LineChart(statename, title, subtitle, svgs, latestPollAverages) %}
  {% if svgs.default != false %}
    {% call PageElements.Figure(title=title, subtitle=subtitle) %}
      {% for gridsize, svg in svgs %}
        {% if svg %}
        <div class="pollchart pollchart--{{gridsize}}">{{ svg | safe }}</div>
        {% endif %}
      {% endfor %}

      <p>The chart above displays the {% if statename == 'Utah' %}three{% else %}two{% endif %} leading presidential candidates{% if statename == 'Utah' %} in Utah{% endif %}, Democrat Hillary Clinton{% if statename == 'Utah' %}, Republican Donald Trump and independent Evan McMullin{% else %} and Republican Donald Trump{% endif %}. Two other candidates with significant support are Libertarian Gary Johnson, who is polling at <span style="font-weight: 600;">{{ latestPollAverages.Johnson }}</span> per cent, and Jill Stein of the Green Party, who is{% if latestPollAverages.Stein %} polling at <span style="font-weight: 600;">{{ latestPollAverages.Stein }}</span> per cent{% else %} not on the ballot in {{ statename }}{%- if statename == 'Indiana' or statename == 'North Carolina' or statename == 'Georgia' -%}, but can be written in{%- endif -%}{% endif %}.&nbsp;

      Read about our <a href="#methodology">methodology</a>.
      </p>

    {% endcall %}
  {% endif %}
{% endmacro %}

{% macro Table(title, subtitle, list, statename, startCollapse=20) %}
{% if list and list.length > 0 %}
<div id="individualpolls">
  {% call PageElements.Figure(title=title, subtitle=subtitle) %}
      {% if list.length > startCollapse %}
      <div data-o-component="o-expander" class="o-expander items"
            data-o-expander-collapsed-toggle-text="Show more polls"
            data-o-expander-expanded-toggle-text="Show fewer polls"
            data-o-expander-toggle-selector=".table-toggle-btn"
            data-o-expander-shrink-to="{{ startCollapse }}"
            data-o-expander-count-selector="tbody tr">
      {% else %}
      <div class="items">
      {% endif %}
    <table>
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Pollster</th>
          <th scope="col" class="numeric narrowonly">{% if statename == 'Utah' %}McMullin / {% endif %}Clinton / Trump&nbsp;(%)</th>
          {%- if statename == 'Utah' -%}<th scope="col" class="numeric secondary">McMullin</th>{%- endif -%}
          <th scope="col" class="numeric secondary">Clinton</th>
          <th scope="col" class="numeric secondary">Trump</th>
          <th scope="col" class="samplesize secondary">Sample*</th>
        </tr>
      </thead>
      <tbody class="o-expander__content">
        {% for poll in list %}
        <tr>
          <td class="date">{{ poll.date | formatDateForIndividualPollsTable }}</td>
          <td>{{ poll.pollster | replace("&amp;", "&") }}</td>
          <td class="narrowonly numeric {% if poll.winner == 'Clinton' %}winner clinton{% endif %} {% if poll.winner == 'Trump' %}winner trump{% endif %} {% if poll.winner == 'McMullin' %}winner mcmullin{% endif %}">{% if statename == 'Utah' %}<span class="{% if poll.winner == 'McMullin' %}winner{% endif %}">{{ poll.McMullin }}</span> / {% endif %}<span class="{% if poll.winner == 'Clinton' %}winner{% endif %}">{{ poll.Clinton }}</span> / <span class="{% if poll.winner == 'Trump' %}winner{% endif %}">{{ poll.Trump }}</span></td>
          {%- if statename == 'Utah' -%}<td class="secondary numeric mcmullin {% if poll.winner == 'McMullin' %}winner{% endif %}">{{ poll.McMullin }}%</td>{%- endif -%}
          <td class="secondary numeric clinton {% if poll.winner == 'Clinton' %}winner{% endif %}">{{ poll.Clinton }}%</td>
          <td class="secondary numeric trump {% if poll.winner == 'Trump' %}winner{% endif %}">{{ poll.Trump }}%</td>
          <td class="numeric samplesize secondary">{{ poll.sampleSize | commas | formatSampleSizeForIndividualPollsTable | safe }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <p class="note"><small>* RV indicates registered voters; LV indicates likely voters</small></p>
    {% if list.length > startCollapse %}
    <button class="table-toggle-btn o--if-js o-buttons o-buttons--uncolored o-buttons--big">Show more polls</button>
    {% endif %}
    </div>
  {% endcall %}
</div>
{% endif %}
{% endmacro %}
