{% import "page-elements.html" as PageElements -%}

{% macro LineChart(title, subtitle, svgs) %}
  {% if svgs.default != false %}
    {% call PageElements.Figure(title=title, subtitle=subtitle) %}
      {% for gridsize, svg in svgs %}
        {% if svg %}
        <div class="pollchart pollchart--{{gridsize}}">{{ svg | safe }}</div>
        {% endif %}
      {% endfor %}
    {% endcall %}
  {% endif %}
{% endmacro %}

{% macro Table(title, list, startCollapse=20) %}
<div id="individualpolls">
  {% call PageElements.Figure(title=title, subtitle=subtitle) %}
    {% if list and list.length > 0 %}
    <div data-o-component="o-expander" class="o-expander items"
          data-o-expander-collapsed-toggle-text="Show more polls"
          data-o-expander-expanded-toggle-text="Show fewer polls"
          data-o-expander-toggle-selector=".table-toggle-btn"
          data-o-expander-shrink-to="{{ startCollapse }}"
          data-o-expander-count-selector="tbody tr">
    <table>
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Pollster</th>
          <th scope="col" class="numeric narrowonly">Clinton / Trump&nbsp;(%)</th>
          <th scope="col" class="numeric secondary">Clinton</th>
          <th scope="col" class="numeric secondary">Trump</th>
          <th scope="col" class="samplesize secondary">Sample*</th>
        </tr>
      </thead>
      <tbody class="o-expander__content">
        {% for poll in list %}
        <tr>
          <td class="date">{{ poll.date | formatDateForIndividualPollsTable }}</td>
          <td>{{ poll.pollster }}</td>
          <td class="narrowonly numeric {% if poll.winner == 'Clinton' %}winner clinton{% endif %} {% if poll.winner == 'Trump' %}winner trump{% endif %}"><span class="{% if poll.winner == 'Clinton' %}winner{% endif %}">{{ poll.Clinton }}</span> / <span class="{% if poll.winner == 'Trump' %}winner{% endif %}">{{ poll.Trump }}</span></td>
          <td class="secondary numeric clinton {% if poll.winner == 'Clinton' %}winner{% endif %}">{{ poll.Clinton }}%</td>
          <td class="secondary numeric trump {% if poll.winner == 'Trump' %}winner{% endif %}">{{ poll.Trump }}%</td>
          <td class="numeric samplesize secondary">{{ poll.sampleSize | commas | formatSampleSizeForIndividualPollsTable | safe }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <p class="note"><small>* RV indicates registered voters; LV indicates likely voters</small></p>
    {% if list.length > startCollapse %}
    <button class="table-toggle-btn o--if-js o-buttons o-buttons--uncolored o-buttons--big">Show more polls</button>
    {% endif %}
    </div>
    {% else %}
    <p class="notavailable">Polls for this state are not available yet.</p>
    {% endif %}
  {% endcall %}
</div>
{% endmacro %}
