{% extends "g-ui/layout/article" %}

{% import "page-elements.html" as PageElements -%}

{% set layout = {name: 'left-body'} %}
{% set stylesheets = [
  'https://origami-build.ft.com/v2/bundles/css?modules=o-expander@^4.0.2,o-buttons@^4.0.2,o-grid@^4.2.1,o-cookie-message@^2.2.0',
  'g-ui/main.css',
  'main.css'
  ]
%}
{% set scripts = [
  'main.js',
  'g-ui/index.js',
  'https://origami-build.ft.com/v2/bundles/js?export=bundle&modules=o-expander@^4.0.2,o-buttons@^4.0.2,o-date@^2.6.0,o-cookie-message@^2.2.0'
  ]
%}

{% block article_body %}

  <nav class="nav___mobile-nav{{ ' page__national' if code == 'us' }}">
    <button
      type="button"
      name="button"
      class="nav___mobile-nav--back-to-overview o-buttons o-buttons--uncolored o-buttons--big">
      <img src="images/US-election-badge-2016.svg" width="50" />
      <span class="dotted-underline">
        National polling
      </span>
    </button>

    <button
      type="button"
      name="button"
      class="o-buttons o-buttons--standout o-buttons--big nav___mobile-nav--choose-state">
      Choose state
    </button>
  </nav>

  <div class="o-grid-container{{ ' page__national' if code == 'us' }}">
    <div class="o-grid-row">
      <div class="article__main" data-o-grid-colspan="12 L8 XL7 XLoffset1">
        <div class="o-typography-body-wrapper" itemprop="articleBody">
        {% block content %}{% endblock %}
        <div class="source" id="methodology">
          {% markdown %}
          Methodology: The FT poll tracker is based on [Real Clear Politics](http://www.realclearpolitics.com/epolls/2016/president/us/general_election_trump_vs_clinton-5491.html) (RCP) data and checks for new polls at least once an hour as polls are added by RCP staff.

          The poll tracker is based on a four-way race, which includes Democratic candidate Hillary Clinton, Republican candidate Donald Trump, Libertarian candidate Gary Johnson and Green Party candidate Jill Stein. In states where Stein is not on the ballot ([Nevada](nevada-polls), [Oklahoma](oklahoma-polls) and [South Dakota](south-dakota-polls)), a three-way polling average is used. In [Utah](utah-polls), where independent candidate Evan McMullin is polling significantly, a five-way polling average is used.

          The FT’s US election poll tracker switched from two-way polling averages to four-way polling averages on September 21 to better reflect the options available to voters.

          A state is considered ‘solid’ if the difference in polling averages between two candidates is above 10 per cent; ‘leaning’ if it is between 10 and 5 per cent; and a ‘toss-up’ if it falls below 5 per cent.

          Most states use a ‘winner-take-all’ method of electoral college vote allocation. [Maine](maine-polls) and [Nebraska](nebraska-polls), however, use an alternative method called the congressional district method in which the state is divided into congressional districts and the winner of each district takes that district’s electoral vote. The winner of the statewide vote is awarded two electoral votes.
          {% endmarkdown %}

          <p style="font-style: italic;">Sources: <a href="http://www.realclearpolitics.com/">Real Clear Politics</a>, <a href="http://www.thegreenpapers.com/">The Green Papers</a>, US Census Bureau, Bureau of Labor Statistics, Bureau of Economic Analysis</p>

          <p style="font-style: italic;">Produced by: <a href="https://www.ft.com/stream/authorsId/Q0ItU0I1NDMyMQ==-QXV0aG9ycw==">Steve Bernard</a>, <a href="https://www.ft.com/stream/authorsId/NWRlMDQ0Y2MtODA3Mi00N2VlLWEyZGItNWRmYTZhNDNiNWNi-QXV0aG9ycw==">Joanna S. Kao</a>, <a href="https://www.ft.com/topics/authors/Luke_Kavanagh">Luke Kavanagh</a>, <a href="https://www.ft.com/stream/authorsId/Q0ItQ0w2Nzg5MA==-QXV0aG9ycw==">Callum Locke</a>, <a href="https://www.ft.com/stream/authorsId/ZGVhNjk2NmEtN2ZkNy00NDllLTkyODAtYjE2NWNmNjg0NTcx-QXV0aG9ycw==">Claire Manibog</a>, <a href="https://www.ft.com/topics/authors/Caroline_Nevitt">Caroline Nevitt</a>, <a href="https://www.ft.com/stream/authorsId/Q0ItVFA1NDMyMQ==-QXV0aG9ycw==">Tom Pearson</a>, <a href="https://www.ft.com/topics/authors/%C3%86ndrew_Rininsland">&Aelig;ndrew Rininsland</a>, and <a href="https://www.ft.com/stream/authorsId/Q0ItTVM1NDMyMQ==-QXV0aG9ycw==">Martin Stabe</a>.</p>

        </div>
        </div>
      </div>
      <div class="article__aside o-grid-remove-gutters--XL" data-o-grid-colspan="hide L4 XL3 XLoffset1" role="complementary" aria-hidden="true">
        {% include "rail.html" %}
      </div>
    </div>
  </div>

{% endblock %}
