{% macro StateList(siteNav, selectedState) %}
<div class="rail__state-list">
  <h3>US election explained</h3>
  <nav>
    <div class="rail__state-list__nationalLink"><a href="polls">National overview</a></div>
    <h4>Which states are in play?</h4>
    <ul>
      {% for state in siteNav.keyBattlegroundStates %}
      <li><a href="{{ state.slug }}-polls">{{ state.fullname }}</a></li>
      {% endfor %}
    </ul>

    <div
      data-o-component="o-expander"
      class="o-expander items"
      data-o-expander-shrink-to="10"
      data-o-expander-count-selector="li"
      data-o-expander-collapsed-toggle-text="Show more states"
      data-o-expander-expanded-toggle-text="Show fewer states"
      data-o-expander-toggle-selector=".table-toggle-btn"
      id="rail__state-list__expander">

      <h4>State by state</h4>
      <ul class="o-expander__content">
        {% for state in siteNav.allStates %}
        <li>
            <a href="./{{ state.slug }}-polls">
              {{ state.fullname }}
            </a>
        </li>
        {% endfor %}
      </ul>
      <button class="table-toggle-btn o--if-js o-buttons o-buttons--uncolored o-buttons--big"></button>
    </div>
  </nav>
</div>
{% endmacro %}
