{% extends "layout.html" %}

{% from 'state-summary.html' import StateSummary %}

{% from 'congressional-district-nav.html' import Render as CongressionalDistrictNav %}

{% import 'polling-history.html' as PollingHistory %}

{% from 'state-demographics.html' import Render as StateDemographics %}

{% block content %}

{{
  StateSummary(summaryData, state)
}}

{{
  CongressionalDistrictNav(state.name, districtList)
}}

{% set racestring = 'four' %}
{% if pollHistory.pollnumcandidates == 3 %}{% set racestring = 'three' %}{% endif %}
{% if pollHistory.pollnumcandidates == 5 %}{% set racestring = 'five' %}{% endif %}
{{
  PollingHistory.LineChart(
    statename=state.fullname,
    title="Which candidate is leading in " + state.fullname + "?",
    subtitle="Polling average based on " + racestring + "-way race (%)",
    svgs=pollHistory.lineCharts,
    latestPollAverages=pollHistory.latestAverages
  )
}}

{% include "includes/who-won-here.html" %}

{% call PageElements.Figure(title="Key data about " + state.name,
                  subtitle="Economic and demographic indicators relative to the national average (%). Darker lines indicate multiple states with similar values.") %}
  {{
    StateDemographics(
      indicators=demographicIndicators,
      stateName=state.name
    )
  }}
{% endcall %}

{{ Ads.MidContent(on=false) }}

{{
  PollingHistory.Table(
    title="All individual polls",
    list=pollHistory.list,
    startCollapse=10
  )
}}

{% if state.fullname == "Maine (District 1)" %}
  <p class="correction">Correction: This page previously attributed Maine's statewide polls to its first congressional district. The page has been updated to correct the error.</p>
{% endif %}

{% endblock %}
