{% import "page-elements.html" as PageElements -%}

{% macro Render(stateCounts, on=true, nationalBarCounts) %}
{% if on %}
<div id="statelist">
  {% call PageElements.Figure(title="The 270 calculator: which states will it take to win?") %}
  <p>Hillary Clinton and Donald Trump each need 270 electoral votes to win the presidency. Most states are leaning or solidly in favour of one candidate, but in some states the race is too close to call. {% if nationalBarCounts.dem + nationalBarCounts.leaningDem >= 270 %} Polls suggest that Mrs Clinton currently has a sizeable lead in enough states to secure the 270 electoral votes needed to win the presidency. Use the calculator below to work out how the remaining <span style="border-bottom:3px solid {{color.swing}}">toss-up states</span> will vote, and in which other states Mr Trump must recover. {% else %} These <span style="border-bottom:3px solid {{color.swing}}">toss-up states</span> are ranked below, with the closest races shown first. Which way do you think they will vote? {% endif %}</p>
  <div id="statelist-table">
    {% set row_num_collapse = 15 %}
    <div data-o-component="o-expander" class="o-expander items"
      data-o-expander-collapsed-toggle-text="Show more states"
      data-o-expander-expanded-toggle-text="Show fewer states"
      data-o-expander-toggle-selector=".table-toggle-btn"
      data-o-expander-shrink-to="{{ row_num_collapse }}"
      data-o-expander-count-selector="tbody tr">
      <div class="o-grid-container">
      <div id="placeholder"></div>
      <div class="sticky">
        <div id="statelist-winner-container">
          <div id="statelist-winner-container-panel"></div>
          <div class="statelist-winner" id="statelist-winner--clinton"><img src="https://image.webservices.ft.com/v1/images/raw/https:%2F%2Fig.ft.com%2Fstatic%2Fus-election-2016%2Fclinton_wins.svg?source=ig" /></div>
          <div class="statelist-winner" id="statelist-winner--trump"><img src="https://image.webservices.ft.com/v1/images/raw/https:%2F%2Fig.ft.com%2Fstatic%2Fus-election-2016%2Ftrump_wins.svg?source=ig" /></div>
        </div>
        <div id="calculation-result">
        <div id="calculation-result-label">Electoral college votes</div>
        </div>
      </div>
      </div>
      <table>
      <thead>
          <th class="statelist-state">Closest races first</th>
          <th class="statelist-ecvotes" ><span class="statelist-cellfull">Electoral votes</span><span class="statelist-cellabbrv">Votes</span></th>
          <th class="statelist-pollmargin statelist-pollmargin--mobile statelist-margin-cell">Margin</th>
          <th class="statelist-pollmargin">Dem lead</th>
          <th class="statelist-switch">Pick a winner</th>
          <th class="statelist-pollmargin">Rep lead</th>
        </tr>
      </thead>
      <tbody class="o-expander__content">
        {% for state in stateCounts | orderStatesByImportance %}
        <tr class="statelist-staterow statelist-{{ state.margin | marginCategory }} statelist-staterow-{{ state.code | lower }}"
          data-margin="{{ state.margin | round1dp }}"
          data-ecvotes="{{ state.ecVotes }}"
          data-classification="{{ state.margin | marginCategory }}"
          data-statecode="{{ state.code | lower }}">

          <td class="statelist-state">
            <div class="statelist-catLabel"></div>
            <a href="{{ state | statePollPageURL }}"><span class="statelist-cellabbrv">{{ state.code | stateShortname({'NH':'N Hamps'}) }} <br /><span style="color: grey; text-transform: uppercase; font-size: 0.8em;">{{ state.ecVotes }}{% if loop.first %} votes{% endif %}</span></span><span class="statelist-cellfull">{{ state.fullname }}</span></a>
          </td>
          <td class="statelist-ecvotes">{{ state.ecVotes }}</td>
          <td class="statelist-pollmargin statelist-pollmargin--mobile statelist-margin-cell {% if state.margin > 0 and state.Clinton != null %}dem-margin-cell{% endif %} {% if state.margin < 0 and state.Trump != null %}rep-margin-cell{% endif %}">{% if (state.margin > 0 and state.Clinton != null) or (state.margin < 0 and state.Trump != null) %}+{{ state.margin | round1dp | replace('-', '') }}{% else %}–{% endif %}</td>
          {% if state.margin > 0 and state.Clinton != null %}
          <td class="statelist-pollmargin statelist-margin-cell dem-margin-cell">
              +{{ state.margin | round1dp | replace('-', '') }}
          </td>
          {%- else -%}
          <td class="statelist-pollmargin">&nbsp;</td>
          {%- endif -%}


          <td class="statelist-switch">
            <a href="#" class="switch-button dem{% if state.margin > 0 %} leaning{% endif %}" data-position="dem">Clinton</a>

            <a href="#" class="switch-button rep{% if state.margin < 0 %} leaning{% endif %}" data-position="rep">Trump</a>
          </td>

          {%- if state.margin < 0 and state.Trump != null -%}
          <td class="statelist-pollmargin statelist-margin-cell rep-margin-cell">
              +{{ state.margin | round1dp | replace('-', '') }}
          </td>
          {%- else -%}
          <td class="statelist-pollmargin">&nbsp;</td>
          {%- endif -%}



        </tr>
        {% endfor %}
      </tbody>
      </table>
      <button class="table-toggle-btn o--if-js o-buttons o-buttons--uncolored o-buttons--big">Show more states</button>
      <script>
      (function(){
        queue('https://ig.ft.com/static/g-ui/libs/d3.v4.min.js', function(){
          {% include "includes/ec-calc.js" %}
        }, true);
      }());
      </script>
    </div>
  </div>
  {% endcall %}
</div>
{% endif %}
{% endmacro %}
