{% extends "layout.html" %}

{% from 'congressional-district-nav.html' import Render as CongressionalDistrictNav %}

{% import 'polling-history.html' as PollingHistory %}

{% from 'state-demographics.html' import Render as StateDemographics %}

{% block content %}

{{
  CongressionalDistrictNav(state.name, districtList)
}}

{{
  PollingHistory.LineChart(
    statename=state.fullname,
    title="Which candidate is leading in " + state.fullname + "?",
    subtitle="State polling average (%)",
    svgs=pollHistory.lineCharts,
    latestPollAverages=pollHistory.latestAverages
  )
}}

{% include "includes/who-won-here.html" %}

{% call PageElements.Figure(title="Key data about " + state.name,
                  subtitle="Economic and demographic indicators (%)") %}
  {{
    StateDemographics(
      indicators=demographicIndicators,
      stateName=state.name
    )
  }}
{% endcall %}

{{ Ads.MidContent(on=false) }}

{{
  PollingHistory.Table(
    title="Full list of individual polls",
    list=pollHistory.list,
    startCollapse=10
  )
}}

{% if state.fullname == "Maine (District 1)" %}
  <p class="correction">Correction: This page previously attributed Maine's statewide polls to its first congressional district. The page has been updated to correct the error.</p>
{% endif %}

{% endblock %}
