.o-typography-body-wrapper p {
  max-width: 666px;
}
.o-typography-body-wrapper h2 {
  font-weight: 400;
  margin-top: 1em;
  margin-bottom: 0.75em;
}
/* Responsive typography, copy values until we have Sass and o-typography */
@media (max-width: 30.615em) {
  .o-typography-heading1 {
    font-size: 26px;
    line-height: 1.1;
  }
  .o-typography-body-wrapper p {
    font-size: 16px;
  }
  .o-typography-body-wrapper h2 {
    font-size: 20px;
    line-height: 1.1;
  }
}
@media (max-width: 46.24em) and (min-width: 30.625em) {
  .o-typography-heading1 {
    font-size: 26px;
    line-height: 1.1;
  }
  .o-typography-body-wrapper p {
    font-size: 16px;
  }
  .o-typography-body-wrapper h2 {
    font-size: 20px;
    line-height: 1.1;
  }
}
@media (max-width: 61.24em) and (min-width: 46.25em) {
}
@media (max-width: 76.24em) and (min-width: 61.25em) {
}
@media (min-width: 76.25em) {
}

.article-figure {
  font-family: MetricWeb, sans-serif;
}
.article-figure .article-figure__heading {
  margin-bottom: 0;
  font-family: inherit;
}
.article-figure .article-figure__subheading {
  color: #6b6e68;
  font-size: 16px;
  font-family: inherit;
  margin-top: 0.3em;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
}
@media (max-width: 46.24em) {
  .article-figure .article-figure__subheading {
    font-size: 14px;
  }
}

.article-head__dateline {
  font-size: 12px;
  margin-bottom: 0;
}

.section-head {
  margin-bottom: 0;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-feature-settings: "tnum";
}
th {
    border: 0px;
    border-bottom: solid 1px #1d1d1d;
    min-width:50px;
    padding-left: 10px;
    padding-right: 10px;
}
td{
    font-size: 0.9rem;
    text-align: left;
    padding-right: 10px;
    padding-left: 10px;
}
td.clinton.winner {
  background: {{ color.leaningDem }};
  font-weight: 600;
}
td.trump.winner {
  background: {{ color.leaningRep }};
  font-weight: 600;
}
td.winner.narrowonly {
  font-weight: 400;
}
td.narrowonly {
  height: 32px;
}
td.winner.narrowonly .winner {
  font-weight: 600;
}
td.numeric{
    text-align: right;
}
td.date{
    min-width: 70px;
}
.o-typography-body-wrapper .source {
  line-height: 1.1;
  margin-top: 3em;
  padding: 0.1em;
  color: #333;
  font-style: italic;
  font-family: MetricWeb, sans-serif;
  border-top: 1px solid #cec6b9;
}
.o-typography-body-wrapper .note {
  line-height: 1.1;
  margin-top: 0.5em;
  margin-bottom: 1em;
  color: #6b6e68;
  font-family: MetricWeb, sans-serif;
}
.pollchart {
  display: none;
  margin: 0 auto;
}
.pollchart svg {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}
#latestnews {
  border-top: 1px solid #cec6b9;
  border-bottom: 1px solid #cec6b9;
  margin: 3em auto;
}
#latestnews h3 {
  font-family: MetricWeb, sans-serif;
  margin: 0.5em 0 1em 0;
  font-weight: 500;
}
.forecast-map {
  display: block;
  margin: 0 auto;
}
.forecast-map__label > text {
  fill: #222;
}
.forecast-map__label--external > rect {
  stroke: none;
}
.forecast-map__state-shape {
  stroke: #fff1e0;
  stroke-width: 1.5;
}
.forecast-map__two-letter-name { display: none; }
.forecast-map__state-shape--AK,
.forecast-map__state-shape--HI {
  stroke: none;
}
.o-typography-body-wrapper footer {
  font-size: 21px;
  line-height: 24px;
  margin: 20px 0;
}
@media (max-width: 46.25em) {
  .forecast-map {
    width: 30.625em;
    height: 18em;
  }
  .forecast-map__short-name { display: none; }
  .forecast-map__two-letter-name {
    display: inline;
    font-size: 27px;
  }
}
@media (max-width: 30.625em) {
  .forecast-map {
    width: 300px;
    height: 11.3em;
  }
}
p.notavailable {
  color: #666;
  font-size: 1em;
}
p.off-link{
  font-size: 24px;
  text-align: right;
  font-family: MetricWeb, sans-serif;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  max-width: none;
}
p.off-link a{
  border: none;
}
p.off-link a:after {
    content: " ";
    background: url('https://image.webservices.ft.com/v1/images/raw/fticon:arrow-right?height=36&tint=27757b,27757b&source=ig') no-repeat center center;
    background-size: 18px 18px;
    float: right;
    width: 24px;
    height: 35px;
    margin: 0;
}
a {
  text-decoration: none;
}
@media (max-width: 30.615em) {
  .pollchart.pollchart--default {
    display: block;
  }
  .pollchart.pollchart--default svg {
    max-width: 380px;
  }
}
@media (max-width: 46.24em) and (min-width: 30.625em) {
  .pollchart.pollchart--S {
    display: block;
  }
  .pollchart.pollchart--S svg {
    max-width: 705px;
  }
}
@media (max-width: 61.24em) and (min-width: 46.25em) {
  .pollchart.pollchart--M {
    display: block;
  }
  .pollchart.pollchart--M svg {
    max-width: 657px;
  }
}
@media (max-width: 76.24em) and (min-width: 61.25em) {
  .pollchart.pollchart--L {
    display: block;
  }
  .pollchart.pollchart--L svg {
    max-width: 708px;
  }
}
@media (min-width: 76.25em) {
  .pollchart.pollchart--XL {
    display: block;
    max-width: 741px;
  }
}
@media (min-width: 600px) {
  .narrowonly {
    display: none;
  }
}
@media (max-width: 600px) {
  td.numeric {
    text-align: center;
    white-space: nowrap;
  }
  .secondary {
    display: none;
  }
  th {
    padding: 0;
  }
  td {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.table-toggle-btn {
  margin: 1em auto;
  display: block;
  width: 80%;
  max-width: 300px;
}
