

.mini-dashboard__chart {
  position: relative;
  padding-top: 20px;
}

.mini-dashboard__panel--president .mini-dashboard__chart:not(.mini-dashboard__chart--final) {
  position: relative;
  padding-top: 1.6em;
}

.mini-dashboard__bar-container {
  width: 100%;
  height: 2em;
  background: #e9decf;
}

.mini-dashboard__best-guess > .mini-dashboard__bar-container {
  height: 10px;
  margin-top: 0.25em;
}

.mini-dashboard__bar-fill {
  padding: 0;
  height: 2em;
  line-height: 2em;
  white-space: nowrap;
}

.mini-dashboard-best-guess .mini-dashboard__bar-fill {
  height: 0.5em;
}

.mini-dashboard__bar-fill--dem {
  background-color: #579dd5;
  float: left;
  text-align: left;
}

.mini-dashboard__bar-fill--rep {
  background-color: #e03d46;
  float: right;
  text-align: right;
}

.mini-dashboard__bar-fill--ind {
  background-color: #9a9a9a;
  float: left;
}

.mini-dashboard__bar-fill--dem-contested {
  float: left;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+ICA8cmVjdCB3aWR0aD0nMTAnIGhlaWdodD0nMTAnIGZpbGw9JyNmZmYxZTAnLz4gIDxwYXRoIGQ9J00tMSwxIGwyLC0yICAgICAgICAgICBNMCwxMCBsMTAsLTEwICAgICAgICAgICBNOSwxMSBsMiwtMicgc3Ryb2tlPScjMDA5NGNiJyBzdHJva2Utd2lkdGg9JzEnLz48L3N2Zz4=);
  border: 1px solid #579dd5;
}

.mini-dashboard__bar-fill--rep-contested {
  float: right;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+ICA8cmVjdCB3aWR0aD0nMTAnIGhlaWdodD0nMTAnIGZpbGw9JyNmZmYxZTAnLz4gIDxwYXRoIGQ9J00tMSwxIGwyLC0yICAgICAgICAgICBNMCwxMCBsMTAsLTEwICAgICAgICAgICBNOSwxMSBsMiwtMicgc3Ryb2tlPScjRjEyQzQ5JyBzdHJva2Utd2lkdGg9JzEnLz48L3N2Zz4=);
  border: 1px solid #e03d46;
}

.mini-dashboard__head-icons {
    display: inline-block;
    vertical-align: bottom;
}

.mini-dashboard__head-icons--dem {
  margin-right: 20px;
}

.mini-dashboard__head-icons--rep {
  margin-left: 20px;
}

.mini-dashboard__head-icons img {
  width: 80px;
}

.mini-dashboard__bar-label-rep,
.mini-dashboard__bar-label-dem {
  height: 2em;
  line-height: 1.65em;
  margin-top: 12px;
}

.mini-dashboard__bar-label-dem {
  float: right;
}

// .mini-dashboard__head-icons--rep {
//   float: right;
// }

.mini-dashboard__bar-label-container-dem,
.mini-dashboard__bar-label-rep {
  text-align: right;
}

.mini-dashboard__bar-label-rep {
  display: inline-block;
  float: left;
}

.mini-dashboard__bar-label-container-rep {
  text-align: left;
}


@media (max-width: 979px) {
  .mini-dashboard__head-icons img {
    width: 70px;
  }
}

@media (max-width: 739px) {
  .mini-dashboard__bar-label-dem,
  .mini-dashboard__bar-label-rep {
    float: none;
    display: inline-block;
  }

  .mini-dashboard__bar-label-container-dem {
    text-align: left;
    margin-bottom: 10px;
  }
  .mini-dashboard__bar-label-container-rep {
    text-align: right;
  }
}

@media (max-width: 489px) {
  .mini-dashboard__head-icons {
    display: none;
  }
  .mini-dashboard__bar-label-container {
    margin-bottom: -12px;
  }
}

.national-bar-container-group-sums {
  font-size: 2.8em;
}

.national-bar-container-group-sums-dem {
  color: #579dd5;
}

.national-bar-container-group-sums-rep {
  color: #e03d46
}

.mini-dashboard__legend {
  line-height: 24px;
  height: 20px;
  font-size: 0.75em;
}

.mini-dashboard__legend-item {
  height: 16px;
  width: 32px;
  float: left;
  margin-right: 0.25em;
  margin-top: 4px;
}

.mini-dashboard__legend-item--dem-contested {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+ICA8cmVjdCB3aWR0aD0nMTAnIGhlaWdodD0nMTAnIGZpbGw9JyNmZmYxZTAnLz4gIDxwYXRoIGQ9J00tMSwxIGwyLC0yICAgICAgICAgICBNMCwxMCBsMTAsLTEwICAgICAgICAgICBNOSwxMSBsMiwtMicgc3Ryb2tlPScjMDA5NGNiJyBzdHJva2Utd2lkdGg9JzEnLz48L3N2Zz4=);
  border: 1px solid #579dd5;
}

.mini-dashboard__legend-item--rep-contested {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+ICA8cmVjdCB3aWR0aD0nMTAnIGhlaWdodD0nMTAnIGZpbGw9JyNmZmYxZTAnLz4gIDxwYXRoIGQ9J00tMSwxIGwyLC0yICAgICAgICAgICBNMCwxMCBsMTAsLTEwICAgICAgICAgICBNOSwxMSBsMiwtMicgc3Ryb2tlPScjRjEyQzQ5JyBzdHJva2Utd2lkdGg9JzEnLz48L3N2Zz4=);
  border: 1px solid #e03d46;
}

.mini-dashboard__best-guess .mini-dashboard__bar-fill {
  background-image: url(data:image/svg+xml;base64,ICA8c3ZnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zycgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJz4gIDxyZWN0IHdpZHRoPScxMCcgaGVpZ2h0PScxMCcgZmlsbD0ndHJhbnNwYXJlbnQnLz4gIDxwYXRoIGQ9J00tMSwxIGwyLC0yICAgICAgICAgICBNMCwxMCBsMTAsLTEwICAgICAgICAgICBNOSwxMSBsMiwtMicgc3Ryb2tlPScjZmZmMWUwJyBzdHJva2Utd2lkdGg9JzMnLz4gIDwvc3ZnPg==);
  height: inherit;
}

.mini-dashboard__best-guess .mini-dashboard__bar-fill--dem {
  border: 1px solid #579dd5;
}

.mini-dashboard__best-guess .mini-dashboard__bar-fill--rep {
  border: 1px solid #e03d46;
}

.mini-dashboard__finish-line {
  text-align: center;
  color: #333;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  font-size: 0.85em;
}

.mini-dashboard__panel--president .mini-dashboard__finish-line {
  top: 5px;
}

.mini-dashboard__finish-line > hr {
  margin: 0 auto;
  border: 0;
  background: #555555;
}

.mini-dashboard__triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 7px 0;
  border-color: #555555 transparent transparent;
  margin: 0 auto;
}

.mini-dashboard__footnote {
  font-size: 0.75em;
  padding-top: 3px;
  text-align: right;
  color: #dddddd;
  float: right;
}

.mini-dashboard__panel--senate .mini-dashboard__footnote {
  margin-top: -18px;
}

.mini-dashboard__chart--final .mini-dashboard__footnote {
  line-height: 2.5em;
}
