*{
    box-sizing: border-box;
}

.ecresultslist { }

.ecresultslist__cell--dem{ 
    background-color: #579dd5;
}

.ecresultslist__cell--rep{ 
    background-color: #e03d46;
}

.article__main {
  margin-top: 1.6em;
}

@media (max-width: 489px) {
  .article__main {
    margin-top: 0;
  }
}

@media (max-width: 739px) {
  .o-typography-lead {
    font-size: 20px;
    line-height: 22px;
  }
}

.result-bars {
  margin-bottom: 1.5em;
}